Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

fix(storm): keep an explicit environment through count-only mode
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/services/storm_protection/count_buffer.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/flush_storm_counts_spec.rb
  spec/services/storm_protection/count_buffer_spec.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(baselines): align weekly buckets with Rails' week start and scope current counts by application
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/queries/baseline_stats.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/services/baseline_calculator.rb
  spec/queries/baseline_stats_spec.rb
  spec/services/baseline_calculator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): fit string metadata to its columns so a long value cannot lose the capture
  app/models/rails_error_dashboard/error_logs_record.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/flush_storm_counts_spec.rb
  spec/commands/log_error_spec.rb
  spec/queries/release_timeline_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(health): one queue-count refresh in flight, and cache failures for the interval
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(upgrade): 0.11.6 migration steps and the long-message fingerprint regrouping
  _reference/migration-strategy.md
  docs/MIGRATION_STRATEGY.md
Due: trailing-whitespace

docs(upgrade): disclose the 255-character metadata clamp and the scope of baseline checks
  _features/baseline-monitoring.md
  _reference/migration-strategy.md
  docs/MIGRATION_STRATEGY.md
  docs/features/BASELINE_MONITORING.md
Due: trailing-whitespace

test(storm): give the fake queue adapter the hook Rails 7 Active Job calls
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(storm): do not assume perform_later returns false on Rails 7.0/7.1
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(storm): disable the Active Job test adapter while the fake adapter is in use
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(migrations): make the swallowed-index migration explicitly irreversible on MySQL
  db/migrate/20260325000001_fix_swallowed_exceptions_index_for_mysql.rb
  spec/db/migrations/fix_swallowed_exceptions_index_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: build the test schema from the gem's migrations off SQLite; run DDL specs outside transactions
  DEVELOPMENT.md
  spec/db/migrations/fix_swallowed_exceptions_index_spec.rb
  spec/db/migrations/optimized_indexes_spec.rb
  spec/rails_helper.rb
  spec/support/database_cleaner.rb
  spec/support/test_schema.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci: run the suite on PostgreSQL and MySQL, built from the migrations
  .github/workflows/test.yml
  Gemfile
Due: trailing-whitespace

fix(migrations): add the PostgreSQL partial and GIN indexes fresh installs never got
  db/migrate/20260908220001_add_missing_postgresql_indexes_to_error_logs.rb
  spec/db/migrations/optimized_indexes_spec.rb
  spec/dummy/db/schema.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(verify): check MySQL time zone tables; document the prerequisite
  .gitignore
  _guides/database-options.md
  docs/guides/DATABASE_OPTIONS.md
  lib/tasks/error_dashboard.rake
Due: trailing-whitespace

test(schema): keep the dummy schema loadable on every adapter and in step with the migrations
  .github/workflows/test.yml
  bin/check-schema-parity
  spec/dummy/db/schema.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(migrations): PostgreSQL indexes fresh installs never got; CI on PostgreSQL and MySQL built from the migrations (#206)
  .github/workflows/test.yml
  .gitignore
  DEVELOPMENT.md
  Gemfile
  _guides/database-options.md
  bin/check-schema-parity
  db/migrate/20260325000001_fix_swallowed_exceptions_index_for_mysql.rb
  db/migrate/20260908220001_add_missing_postgresql_indexes_to_error_logs.rb
  docs/guides/DATABASE_OPTIONS.md
  lib/tasks/error_dashboard.rake
  spec/db/migrations/fix_swallowed_exceptions_index_spec.rb
  spec/db/migrations/optimized_indexes_spec.rb
  spec/dummy/db/schema.rb
  spec/rails_helper.rb
  spec/support/database_cleaner.rb
  spec/support/test_schema.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(llm): reset llm_pricing_overrides after each cost-estimator example
  spec/services/llm_cost_estimator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(llm): reset llm_pricing_overrides after each cost-estimator example (#208)
  spec/services/llm_cost_estimator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(migrations): give PostgreSQL search the index it actually uses
  _guides/database-optimization.md
  db/migrate/20260909000001_replace_message_gin_with_searchable_text_index.rb
  docs/guides/DATABASE_OPTIMIZATION.md
  spec/db/migrations/optimized_indexes_spec.rb
  spec/db/postgresql_indexes_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(migrations): give PostgreSQL search the index it actually uses (#209)
  _guides/database-optimization.md
  db/migrate/20260909000001_replace_message_gin_with_searchable_text_index.rb
  docs/guides/DATABASE_OPTIMIZATION.md
  spec/db/migrations/optimized_indexes_spec.rb
  spec/db/postgresql_indexes_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(Job): use Rails polynomial retry backoff
  _reference/troubleshooting.md
  app/jobs/rails_error_dashboard/application_job.rb
  docs/TROUBLESHOOTING.md
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(jobs): use the Active Job retry backoff Rails 7.2+ still accepts (#211)
  _reference/troubleshooting.md
  app/jobs/rails_error_dashboard/application_job.rb
  docs/TROUBLESHOOTING.md
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: add @BarnabeD to contributors for PR #211
  CONTRIBUTORS.md
Due: trailing-whitespace

fix(source-links): only link http(s) repository URLs, detect the forge by host; document the real config options
  _getting_started/features.md
  docs/FEATURES.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/services/github_link_generator.rb
  spec/services/github_link_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add @BarnabeD to contributors for PR #211 (#213)
  CONTRIBUTORS.md
Due: trailing-whitespace

fix(source-links): only link http(s) repository URLs, detect the forge by host; document the real config options (#214)
  _getting_started/features.md
  docs/FEATURES.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/services/github_link_generator.rb
  spec/services/github_link_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): run each capture exactly once, and never fail a persisted one
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/integrations/tracer.rb
  spec/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard/integrations/tracer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): treat a falsy perform_later as a failed handoff, not a success
  app/jobs/rails_error_dashboard/application_job.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/log_error_otel_spec.rb
  spec/jobs/rails_error_dashboard/application_job_spec.rb
  spec/lib/rails_error_dashboard/commands/async_logging_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(jobs): make a worker report the delivery it actually made
  app/jobs/rails_error_dashboard/application_job.rb
  app/jobs/rails_error_dashboard/async_error_logging_job.rb
  app/jobs/rails_error_dashboard/storm_flush_job.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/flush_storm_counts_spec.rb
  spec/commands/log_error_spec.rb
  spec/jobs/rails_error_dashboard/async_error_logging_job_spec.rb
  spec/jobs/rails_error_dashboard/baseline_calculation_job_spec.rb
  spec/jobs/rails_error_dashboard/storm_flush_job_spec.rb
  spec/jobs/swallowed_exception_flush_job_spec.rb
  spec/lib/rails_error_dashboard/commands/async_logging_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(grouping): give an unresolved error group a database-enforced identity
  app/models/rails_error_dashboard/error_log.rb
  db/migrate/20260915000001_add_group_identity_unique_index_to_error_logs.rb
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  spec/db/migrations/group_identity_index_spec.rb
  spec/dummy/db/schema.rb
  spec/factories/error_logs.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(i18n): mark French community-reviewed, keep the other ten unreviewed
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/translation_report.yml
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  _guides/configuration.md
  config/locales/fr.yml
  docs/guides/CONFIGURATION.md
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard/configuration.rb
  rails_error_dashboard.gemspec
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(capture): redact the payload before it crosses the queue, not after
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  lib/rails_error_dashboard/services/storm_protection/count_buffer.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/log_error_queue_redaction_spec.rb
  spec/lib/rails_error_dashboard/commands/async_logging_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(issues): match a linked issue on its full identity, repository included
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  app/jobs/rails_error_dashboard/add_issue_recurrence_comment_job.rb
  app/jobs/rails_error_dashboard/close_linked_issue_job.rb
  app/jobs/rails_error_dashboard/reopen_linked_issue_job.rb
  db/migrate/20260915000002_add_issue_repo_identity_to_error_logs.rb
  lib/rails_error_dashboard/commands/create_issue.rb
  lib/rails_error_dashboard/commands/link_existing_issue.rb
  lib/rails_error_dashboard/services/issue_tracker_client.rb
  spec/dummy/db/schema.rb
  spec/requests/issue_webhook_identity_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(issues): corroborate a legacy link's repository against its stored URL
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  spec/requests/issue_webhook_identity_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): say which occurrence supplied the snapshot a group displays
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  db/migrate/20260915000003_add_context_provenance_to_error_logs.rb
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/snapshot_provenance_spec.rb
  spec/dummy/db/schema.rb
  spec/requests/detail_partials_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): drain the count buffer on a schedule, and apply each batch once
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/storm_flush_batch.rb
  db/migrate/20260915000004_create_storm_flush_batches.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/storm_batch_idempotency_spec.rb
  spec/dummy/db/schema.rb
  spec/services/storm_protection/gate_drain_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): identify a batch by its swap, not by its contents
  app/jobs/rails_error_dashboard/storm_flush_job.rb
  app/models/rails_error_dashboard/storm_flush_batch.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/services/storm_protection/count_buffer.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/storm_batch_idempotency_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(analytics): count events and affected users, not group rows
  app/views/rails_error_dashboard/errors/_stats.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/queries/user_impact_summary.rb
  spec/queries/analytics_event_counting_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(ci): repair three failures the matrix caught that SQLite could not
  app/jobs/rails_error_dashboard/add_issue_recurrence_comment_job.rb
  app/jobs/rails_error_dashboard/application_job.rb
  app/jobs/rails_error_dashboard/close_linked_issue_job.rb
  app/jobs/rails_error_dashboard/create_issue_job.rb
  app/jobs/rails_error_dashboard/reopen_linked_issue_job.rb
  db/migrate/20260915000001_add_group_identity_unique_index_to_error_logs.rb
  spec/services/storm_protection/gate_drain_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
