Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

fix: flaky swallowed exception tracker spec on Ruby 3.3+
  spec/services/swallowed_exception_tracker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.4.0
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: update all documentation for v0.4.0 features
  CHANGELOG.md
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/FAQ.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/MIGRATION_STRATEGY.md
  docs/QUICKSTART.md
  docs/README.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/TROUBLESHOOTING.md
  docs/development/TESTING.md
  docs/guides/CONFIGURATION.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

docs: add Jekyll front matter to all remaining docs/*.md files
  docs/FAQ.md
  docs/GLOSSARY.md
  docs/MIGRATION_STRATEGY.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/UNINSTALL.md
  docs/development/TESTING.md
  docs/features/ADVANCED_ERROR_GROUPING.md
  docs/features/BASELINE_MONITORING.md
  docs/features/ERROR_CORRELATION.md
  docs/features/OCCURRENCE_PATTERNS.md
  docs/features/PLATFORM_COMPARISON.md
  docs/guides/BACKTRACE_LIMITING.md
  docs/guides/BATCH_OPERATIONS.md
  docs/guides/CONFIGURATION.md
  docs/guides/DATABASE_OPTIMIZATION.md
  docs/guides/DATABASE_OPTIONS.md
  docs/guides/ERROR_SAMPLING_AND_FILTERING.md
  docs/guides/ERROR_TREND_VISUALIZATIONS.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/NOTIFICATIONS.md
  docs/guides/REAL_TIME_UPDATES.md
  docs/guides/SETTINGS.md
  docs/guides/SOLID_QUEUE_SETUP.md
Due: trailing-whitespace

docs: add Jekyll front matter to fix GitHub Pages links
  _config.yml
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/MULTI_APP_PERFORMANCE.md
  docs/PLUGIN_SYSTEM.md
  docs/QUICKSTART.md
  docs/README.md
  docs/TROUBLESHOOTING.md
Due: trailing-whitespace

chore: bump version to 0.4.1
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

update Buy Me a Coffee to yellow button style
  README.md
Due: trailing-whitespace

revert top BMC to shield badge, keep yellow button at bottom
  README.md
Due: trailing-whitespace

fix footer: Made with heart by Anjan
  README.md
Due: trailing-whitespace

fix: add missing layout to error-trend-visualizations doc
  _guides/error-trend-visualizations.md
Due: trailing-whitespace

docs: fix 125 broken internal links in docs collections
  _features/advanced-error-grouping.md
  _features/baseline-monitoring.md
  _features/error-correlation.md
  _features/occurrence-patterns.md
  _features/platform-comparison.md
  _features/plugin-system.md
  _getting_started/documentation.md
  _getting_started/features.md
  _getting_started/quickstart.md
  _guides/backtrace-limiting.md
  _guides/batch-operations.md
  _guides/configuration.md
  _guides/customization.md
  _guides/error-sampling-and-filtering.md
  _guides/error-trend-visualizations.md
  _guides/real-time-updates.md
  _guides/settings.md
  _reference/api-reference.md
  _reference/faq.md
  _reference/glossary.md
  _reference/troubleshooting.md
Due: trailing-whitespace

test: add missing specs for mute feature and credit @j4rs (#92)
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
  spec/commands/log_error_spec.rb
  spec/commands/rails_error_dashboard/commands/batch_mute_errors_spec.rb
  spec/commands/rails_error_dashboard/commands/batch_unmute_errors_spec.rb
  spec/queries/rails_error_dashboard/queries/errors_list_spec.rb
  spec/support/modal_helpers.rb
  spec/system/error_workflow_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add ActionCable connection monitoring
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/actioncable_health_summary.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/action_cable_summary.rb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  lib/rails_error_dashboard/subscribers/action_cable_subscriber.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/queries/action_cable_summary_spec.rb
  spec/lib/rails_error_dashboard/subscribers/action_cable_subscriber_spec.rb
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: flaky swallowed exception tracker spec leaking TracePoint state
  spec/services/swallowed_exception_tracker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.5.2 and update docs for deep runtime insights
  CHANGELOG.md
  README.md
  ROADMAP.md
  _getting_started/features.md
  docs/FEATURES.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: block production boot with default or blank credentials
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  bin/full-integration-test
  bin/pre-release-test
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  test/pre_release/chaos/integration_tests.rb
  test/pre_release/chaos/phase_d_http_endpoints.rb
  test/pre_release/templates/full_async_initializer.rb
  test/pre_release/templates/full_http_initializer.rb
  test/pre_release/templates/full_kitchen_sink_initializer.rb
  test/pre_release/templates/full_separate_db_initializer.rb
  test/pre_release/templates/full_solid_queue_initializer.rb
  test/pre_release/templates/full_sync_initializer.rb
  test/pre_release/templates/multi_app_alpha_initializer.rb
  test/pre_release/templates/multi_app_beta_initializer.rb
  test/pre_release/templates/upgrade_pre_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add "Copy for LLM" button — markdown error export (#94)
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/show.html.erb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  spec/services/markdown_error_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: flaky system health snapshot specs on CI
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: replace flaky timing spec with deterministic safety check
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: MySQL index key too long on swallowed_exceptions (#96)
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260306000003_create_rails_error_dashboard_swallowed_exceptions.rb
  db/migrate/20260325000001_fix_swallowed_exceptions_index_for_mysql.rb
  lib/rails_error_dashboard/commands/flush_swallowed_exceptions.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: bump version to 0.5.3 and update docs for release
  CHANGELOG.md
  README.md
  ROADMAP.md
  _getting_started/features.md
  docs/FEATURES.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: skip credential check during asset precompilation
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.5.4 for Docker precompile fix
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: bump version to 0.5.6
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: include request params and user agent in Copy for LLM
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  spec/services/markdown_error_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: include full system health snapshot in Copy for LLM
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  spec/services/markdown_error_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: remove human workflow fields and IP from Copy for LLM
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  spec/services/markdown_error_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: remove Puma and job queue stats from Copy for LLM
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  spec/services/markdown_error_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add ActiveStorage Service Health to feature docs and README
  README.md
  ROADMAP.md
  _getting_started/features.md
  docs/FEATURES.md
Due: trailing-whitespace

feat: add GitHub, GitLab, and Codeberg issue tracker clients
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/codeberg_issue_client.rb
  lib/rails_error_dashboard/services/github_issue_client.rb
  lib/rails_error_dashboard/services/gitlab_issue_client.rb
  lib/rails_error_dashboard/services/issue_tracker_client.rb
  spec/services/issue_tracker_client_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add issue tracking UI — create, link, unlink actions
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  config/routes.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: remove add_comment test from integration tests
  test/pre_release/chaos/integration_tests.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add issue lifecycle jobs — create, close, reopen, recurrence
  app/jobs/rails_error_dashboard/add_issue_recurrence_comment_job.rb
  app/jobs/rails_error_dashboard/close_linked_issue_job.rb
  app/jobs/rails_error_dashboard/create_issue_job.rb
  app/jobs/rails_error_dashboard/reopen_linked_issue_job.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

test: add specs for issue lifecycle jobs and subscriber
  spec/jobs/create_issue_job_spec.rb
  spec/jobs/lifecycle_issue_jobs_spec.rb
  spec/subscribers/issue_tracker_subscriber_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add webhook controller for two-way issue sync
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  config/routes.rb
  lib/rails_error_dashboard/configuration.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: RED branding — bot account setup guide and issue footers
  app/jobs/rails_error_dashboard/add_issue_recurrence_comment_job.rb
  app/jobs/rails_error_dashboard/close_linked_issue_job.rb
  app/jobs/rails_error_dashboard/reopen_linked_issue_job.rb
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/issue_body_formatter.rb
  spec/services/issue_body_formatter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: RED branding in dashboard header and footer
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

chore: add GitHub Sponsors to FUNDING.yml and update gemspec
  .github/FUNDING.yml
  rails_error_dashboard.gemspec
Due: trailing-whitespace

feat: fetch platform comments, scrollable breadcrumbs, Issue pill
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_discussion.html.erb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/_show_scripts.html.erb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: move View Issue link to card header — matches Discussion pattern
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
Due: none

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
