Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

fix: record timing gaps independently of the storm episode
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/event_timing_gap.rb
  db/migrate/20260920000002_create_event_timing_gaps.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
  spec/dummy/db/schema.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: pin the clock so these specs cannot pass only by daylight
  spec/commands/storm_buckets_incomplete_propagation_spec.rb
  spec/queries/event_volume_invariants_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: record the round-5 decision records and verification
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/verification.md
Due: trailing-whitespace

fix: record timing gaps independently of the storm episode (#249)
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/verification.md
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/event_timing_gap.rb
  db/migrate/20260920000002_create_event_timing_gaps.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
  spec/commands/storm_buckets_incomplete_propagation_spec.rb
  spec/dummy/db/schema.rb
  spec/queries/event_volume_invariants_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: keep timing gaps for the reporting horizon, not just retention
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: record the round-6 decision records and verification
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/verification.md
Due: trailing-whitespace

fix: keep timing gaps for the reporting horizon, not just retention (#250)
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/verification.md
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: preserve timing warnings when event totals are incomplete
  .shipkit/specs/evidence-integrity-followup/design.md
  CHANGELOG.md
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: preserve timing warnings and document the 0.14.0 upgrade (#251)
  .shipkit/specs/evidence-integrity-followup/design.md
  CHANGELOG.md
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/commands/event_timing_gap_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: clarify 0.14.0 changes and upgrade steps
  CHANGELOG.md
Due: trailing-whitespace

fix: count events, not first-seen groups, on the three readers 0.14.0 missed
  lib/rails_error_dashboard/queries/platform_comparison.rb
  lib/rails_error_dashboard/queries/user_impact_summary.rb
  lib/rails_error_dashboard/services/digest_builder.rb
  spec/queries/remaining_readers_event_volume_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(spec): record the EVENT/GROUP classification for the remaining readers
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/tasks.md
Due: trailing-whitespace

fix: count events on the high-frequency and correlation figures
  lib/rails_error_dashboard/queries/error_correlation.rb
  lib/rails_error_dashboard/queries/recurring_issues.rb
  spec/queries/correlation_recurring_event_volume_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: count every error first seen in the period as new in the digest
  lib/rails_error_dashboard/services/digest_builder.rb
  spec/services/digest_builder_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(spec): record F26 -- the last volume readers, "new errors", and what is left
  .shipkit/specs/evidence-integrity-followup/design.md
Due: trailing-whitespace

chore(deps): stop dependabot proposing json 3
  .github/dependabot.yml
Due: trailing-whitespace

fix: count events, not first-seen groups, on the three readers 0.14.0 missed (#252)
  .shipkit/specs/evidence-integrity-followup/design.md
  .shipkit/specs/evidence-integrity-followup/tasks.md
  lib/rails_error_dashboard/queries/platform_comparison.rb
  lib/rails_error_dashboard/queries/user_impact_summary.rb
  lib/rails_error_dashboard/services/digest_builder.rb
  spec/queries/remaining_readers_event_volume_spec.rb
  spec/services/digest_builder_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: freeze the clock in the occurred_at parity spec
  spec/commands/async_capture_envelope_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: freeze the clock in the occurred_at parity spec (#256)
  spec/commands/async_capture_envelope_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: count events on the high-frequency and correlation figures (#253)
  lib/rails_error_dashboard/queries/error_correlation.rb
  lib/rails_error_dashboard/queries/recurring_issues.rb
  spec/queries/correlation_recurring_event_volume_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(roadmap): bring the roadmap up to 0.14.0
  ROADMAP.md
Due: trailing-whitespace

docs: match the developer docs to the hooks, CI and release-please
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  _reference/testing.md
  docs/development/TESTING.md
Due: trailing-whitespace

docs: correct the suite sizes and check count in CLAUDE.md and skills
  .claude/skills/chaos/SKILL.md
  .claude/skills/release/SKILL.md
  CLAUDE.md
Due: trailing-whitespace

chore(deps): stop dependabot proposing json 3 (#254)
  .github/dependabot.yml
Due: trailing-whitespace

docs: write the 0.14.1 release notes
  CHANGELOG.md
Due: trailing-whitespace

docs: refresh the roadmap and developer docs for 0.14.0 (#257)
  .claude/skills/chaos/SKILL.md
  .claude/skills/release/SKILL.md
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  ROADMAP.md
  _reference/testing.md
  docs/development/TESTING.md
Due: trailing-whitespace

fix: clarify Japanese translations
  config/locales/ja.yml
Due: trailing-whitespace

fix: clarify Japanese translations (#258)
  config/locales/ja.yml
Due: trailing-whitespace

docs: spec the credential guard
  .shipkit/specs/credential-guard/design.md
  .shipkit/specs/credential-guard/spec.md
  .shipkit/specs/credential-guard/tasks.md
Due: trailing-whitespace

fix: check credentials the way the login compares them
  .shipkit/specs/credential-guard/spec.md
  .shipkit/specs/credential-guard/tasks.md
  app/controllers/rails_error_dashboard/application_controller.rb
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: treat a falsy authenticate_with as Basic auth in the credential check
  .shipkit/specs/credential-guard/spec.md
  .shipkit/specs/credential-guard/tasks.md
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: refuse partial or blank dashboard credentials at boot and login
  app/controllers/rails_error_dashboard/application_controller.rb
  lib/rails_error_dashboard/configuration.rb
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/lib/rails_error_dashboard/verify_task_spec.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: refuse partial, blank and non-string dashboard credentials (#260)
  .shipkit/specs/credential-guard/design.md
  .shipkit/specs/credential-guard/spec.md
  .shipkit/specs/credential-guard/tasks.md
  app/controllers/rails_error_dashboard/application_controller.rb
  lib/rails_error_dashboard/configuration.rb
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/lib/rails_error_dashboard/verify_task_spec.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: write the 0.14.2 release notes and credit the translators
  CHANGELOG.md
  CONTRIBUTORS.md
Due: trailing-whitespace

docs: explain dashboard credential setup for development and production
  README.md
  _features/source-code-integration.md
  _getting_started/features.md
  _getting_started/quickstart.md
  _guides/configuration.md
  _guides/customization.md
  _guides/notifications.md
  _reference/api-reference.md
  _reference/troubleshooting.md
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/QUICKSTART.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/TROUBLESHOOTING.md
  docs/guides/CONFIGURATION.md
  docs/guides/NOTIFICATIONS.md
Due: trailing-whitespace

docs(install): tell new installs where credentials go outside development
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: warn that SECRET_KEY_BASE_DUMMY at runtime disables capture
  _guides/configuration.md
  _reference/troubleshooting.md
  docs/TROUBLESHOOTING.md
  docs/guides/CONFIGURATION.md
Due: trailing-whitespace

docs: explain dashboard credential setup for development and production (#261)
  README.md
  _features/source-code-integration.md
  _getting_started/features.md
  _getting_started/quickstart.md
  _guides/configuration.md
  _guides/customization.md
  _guides/notifications.md
  _reference/api-reference.md
  _reference/troubleshooting.md
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/QUICKSTART.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/TROUBLESHOOTING.md
  docs/guides/CONFIGURATION.md
  docs/guides/NOTIFICATIONS.md
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs(spec): setup hardening for 0.14.3
  .shipkit/specs/setup-hardening-0-14-3/design.md
  .shipkit/specs/setup-hardening-0-14-3/spec.md
  .shipkit/specs/setup-hardening-0-14-3/tasks.md
Due: trailing-whitespace

fix(generators): retire the Solid Queue generator, which wrote a queue.yml with no dispatcher
  _guides/solid-queue-setup.md
  docs/guides/SOLID_QUEUE_SETUP.md
  lib/generators/rails_error_dashboard/solid_queue/solid_queue_generator.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/solid_queue_config_check.rb
  lib/tasks/error_dashboard.rake
  spec/fixtures/solid_queue/red_generator_queue.yml
  spec/fixtures/solid_queue/solid_queue_install_queue.yml
  spec/generators/solid_queue_generator_spec.rb
  spec/lib/rails_error_dashboard/verify_task_spec.rb
  spec/services/solid_queue_config_check_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
