Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

refactor(i18n): extract detail partials, part 2 (P2-T7b)
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_co_occurring_errors.html.erb
  app/views/rails_error_dashboard/errors/_discussion.html.erb
  app/views/rails_error_dashboard/errors/_error_cascades.html.erb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/_llm_summary.html.erb
  app/views/rails_error_dashboard/errors/_pattern_insights.html.erb
  app/views/rails_error_dashboard/errors/_timeline.html.erb
  app/views/rails_error_dashboard/errors/_user_errors_table.html.erb
  config/locales/en.yml
  spec/requests/detail_partials_i18n_b_spec.rb
  spec/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb_spec.rb
  spec/views/rails_error_dashboard/errors/_llm_summary.html.erb_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract health summary strings (P2-T5)
  app/views/rails_error_dashboard/errors/actioncable_health_summary.html.erb
  app/views/rails_error_dashboard/errors/activestorage_health_summary.html.erb
  app/views/rails_error_dashboard/errors/cache_health_summary.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  app/views/rails_error_dashboard/errors/job_health_summary.html.erb
  app/views/rails_error_dashboard/errors/llm_health_summary.html.erb
  config/locales/en.yml
  spec/requests/health_summary_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract analytics & reports strings (P2-T6)
  app/views/rails_error_dashboard/errors/actioncable_health_summary.html.erb
  app/views/rails_error_dashboard/errors/activestorage_health_summary.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/cache_health_summary.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  app/views/rails_error_dashboard/errors/job_health_summary.html.erb
  app/views/rails_error_dashboard/errors/llm_health_summary.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/releases.html.erb
  app/views/rails_error_dashboard/errors/user_impact.html.erb
  config/locales/en.yml
  spec/requests/analytics_reports_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract the three partials P2-T7 missed (P2-T7c)
  app/views/rails_error_dashboard/errors/_modals.html.erb
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  app/views/rails_error_dashboard/errors/_similar_errors.html.erb
  config/locales/en.yml
  spec/requests/detail_partials_i18n_c_spec.rb
  spec/requests/detail_partials_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract settings page strings (P2-T8)
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/settings/_value_badge.html.erb
  config/locales/en.yml
  spec/requests/settings_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract the remaining dashboard pages (P2-T9)
  app/views/rails_error_dashboard/errors/deprecations.html.erb
  app/views/rails_error_dashboard/errors/diagnostic_dumps.html.erb
  app/views/rails_error_dashboard/errors/n_plus_one_summary.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  app/views/rails_error_dashboard/errors/storms.html.erb
  app/views/rails_error_dashboard/errors/swallowed_exceptions.html.erb
  config/locales/en.yml
  spec/requests/summary_pages_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract view helper strings (P2-T10)
  app/helpers/rails_error_dashboard/backtrace_helper.rb
  app/helpers/rails_error_dashboard/overview_helper.rb
  app/helpers/rails_error_dashboard/user_agent_helper.rb
  config/locales/en.yml
  spec/helpers/rails_error_dashboard/helper_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): restructure flash and command messages (P2-T11, P2-T12)
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/backtrace_helper.rb
  app/helpers/rails_error_dashboard/overview_helper.rb
  app/helpers/rails_error_dashboard/user_agent_helper.rb
  config/locales/en.yml
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/batch_delete_errors.rb
  lib/rails_error_dashboard/commands/batch_mute_errors.rb
  lib/rails_error_dashboard/commands/batch_resolve_errors.rb
  lib/rails_error_dashboard/commands/batch_unmute_errors.rb
  lib/rails_error_dashboard/commands/create_issue.rb
  lib/rails_error_dashboard/commands/link_existing_issue.rb
  lib/rails_error_dashboard/translation.rb
  spec/requests/flash_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): translation payload for client-rendered strings (P3-T1)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/en.yml
  lib/rails_error_dashboard/i18n_store.rb
  spec/helpers/rails_error_dashboard/i18n_helper_spec.rb
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
  spec/requests/js_translation_payload_spec.rb
  spec/system/js_translation_payload_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): localize the JS date formatter and relative times (P3-T2)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/en.yml
  spec/helpers/rails_error_dashboard/i18n_helper_spec.rb
  spec/requests/js_translation_payload_spec.rb
  spec/system/js_date_localization_spec.rb
  spec/system/js_date_parity_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract the remaining inline JavaScript strings (P3-T3)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_show_scripts.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  config/locales/en.yml
  docs/guides/TRANSLATIONS.md
  spec/helpers/rails_error_dashboard/i18n_helper_spec.rb
  spec/requests/ui_js_i18n_spec.rb
  spec/system/js_translation_payload_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): explicit locale propagation into jobs (P4-T1)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/jobs/rails_error_dashboard/application_job.rb
  app/jobs/rails_error_dashboard/baseline_alert_job.rb
  app/jobs/rails_error_dashboard/concerns/localized_job.rb
  app/jobs/rails_error_dashboard/discord_error_notification_job.rb
  app/jobs/rails_error_dashboard/email_error_notification_job.rb
  app/jobs/rails_error_dashboard/pagerduty_error_notification_job.rb
  app/jobs/rails_error_dashboard/scheduled_digest_job.rb
  app/jobs/rails_error_dashboard/slack_error_notification_job.rb
  app/jobs/rails_error_dashboard/storm_notification_job.rb
  app/jobs/rails_error_dashboard/webhook_error_notification_job.rb
  app/mailers/rails_error_dashboard/digest_mailer.rb
  app/mailers/rails_error_dashboard/error_notification_mailer.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/baseline_alert_payload_builder.rb
  lib/rails_error_dashboard/services/digest_builder.rb
  lib/rails_error_dashboard/services/discord_payload_builder.rb
  lib/rails_error_dashboard/services/error_notification_dispatcher.rb
  lib/rails_error_dashboard/services/pagerduty_payload_builder.rb
  lib/rails_error_dashboard/services/slack_payload_builder.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  lib/rails_error_dashboard/services/webhook_payload_builder.rb
  lib/tasks/error_dashboard.rake
  spec/jobs/rails_error_dashboard/locale_propagation_spec.rb
  spec/lib/rails_error_dashboard/services/error_notification_dispatcher_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): localize mailer templates and subjects (P4-T2)
  app/helpers/rails_error_dashboard/mailer_i18n_helper.rb
  app/mailers/rails_error_dashboard/application_mailer.rb
  app/mailers/rails_error_dashboard/digest_mailer.rb
  app/mailers/rails_error_dashboard/error_notification_mailer.rb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.html.erb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.text.erb
  app/views/rails_error_dashboard/error_notification_mailer/error_alert.html.erb
  app/views/rails_error_dashboard/error_notification_mailer/error_alert.text.erb
  config/locales/en.yml
  lib/rails_error_dashboard/services/digest_builder.rb
  spec/jobs/rails_error_dashboard/locale_propagation_spec.rb
  spec/mailers/rails_error_dashboard/mailer_i18n_spec.rb
  spec/support/locale_fixtures.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): localize notification payloads, fix two host-isolation defects (P4-T3)
  app/helpers/rails_error_dashboard/mailer_i18n_helper.rb
  app/jobs/rails_error_dashboard/storm_notification_job.rb
  config/locales/en.yml
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/i18n_store.rb
  lib/rails_error_dashboard/services/baseline_alert_payload_builder.rb
  lib/rails_error_dashboard/services/discord_payload_builder.rb
  lib/rails_error_dashboard/services/localized_time_formatter.rb
  lib/rails_error_dashboard/services/notification_helpers.rb
  lib/rails_error_dashboard/services/pagerduty_payload_builder.rb
  lib/rails_error_dashboard/services/slack_payload_builder.rb
  lib/rails_error_dashboard/services/webhook_payload_builder.rb
  spec/jobs/rails_error_dashboard/locale_propagation_spec.rb
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
  spec/lib/rails_error_dashboard/services/payload_i18n_spec.rb
  spec/mailers/rails_error_dashboard/mailer_i18n_spec.rb
  spec/support/locale_fixtures.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(i18n): correct the store_translations mechanism in build_backend
  lib/rails_error_dashboard/i18n_store.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs(i18n): make the translator guide enforceable and honest about review
  docs/guides/TRANSLATIONS.md
Due: trailing-whitespace

refactor(i18n): state host isolation as backend invariants, not global mutation
  lib/rails_error_dashboard/i18n_store.rb
  lib/rails_error_dashboard/private_backend.rb
  spec/lib/rails_error_dashboard/private_backend_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): per-user language picker persisted in the session (P5-T1)
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/locales_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/en.yml
  config/routes.rb
  lib/rails_error_dashboard/i18n_store.rb
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
  spec/requests/locale_picker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): bin/i18n-check, the locale checks a monolingual maintainer can run (P6-T1)
  .github/workflows/ci.yml
  .gitignore
  bin/i18n-check
  docs/guides/TRANSLATIONS.md
  lefthook.yml
Due: trailing-whitespace

docs(i18n): correct the docs that still call the dashboard English-only (P6-T2 REQ-5/REQ-6)
  ROADMAP.md
  _guides/configuration.md
  bin/i18n-merge
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat(i18n): ship German — machine-translated, unreviewed (P6-T2)
  bin/i18n-merge
  config/locales/de.yml
  docs/guides/TRANSLATIONS.md
Due: trailing-whitespace

feat(i18n): ship French — machine-translated, unreviewed (P6-T2)
  .gitignore
  bin/i18n-check
  config/locales/fr.yml
  docs/guides/TRANSLATIONS.md
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Spanish — machine-translated, unreviewed (P6-T2)
  config/locales/es.yml
  docs/guides/TRANSLATIONS.md
Due: trailing-whitespace

feat(i18n): ship Brazilian Portuguese — completes the four launch locales (P6-T2)
  config/locales/pt-BR.yml
  docs/guides/TRANSLATIONS.md
Due: trailing-whitespace

fix(i18n): detect plural groups from the source, unblocking other-only locales (P6-T4a)
  bin/i18n-check
  bin/i18n-merge
  docs/guides/TRANSLATIONS.md
  spec/bin/i18n_check_plurals_spec.rb
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
  spec/lib/rails_error_dashboard/private_backend_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Japanese — the first other-only plural locale (P6-T4a)
  _guides/configuration.md
  config/locales/ja.yml
  docs/guides/CONFIGURATION.md
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/i18n_store.rb
  lib/rails_error_dashboard/private_backend.rb
  spec/lib/rails_error_dashboard/private_backend_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): extract the stat cards, and document the six locales in the README
  README.md
  app/views/rails_error_dashboard/errors/_stats.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/ja.yml
  config/locales/pt-BR.yml
  docs/guides/TRANSLATIONS.md
  spec/views/rails_error_dashboard/errors/_stats.html.erb_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

build(lefthook): run hooks under the Ruby this repo pins
  bin/with-ruby
  lefthook.yml
Due: trailing-whitespace

feat(i18n): ship Russian — the first four-category plural locale (P6-T4b)
  README.md
  _guides/configuration.md
  bin/i18n-check
  bin/i18n-merge
  config/locales/ru.yml
  docs/guides/CONFIGURATION.md
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/i18n_store.rb
  lib/rails_error_dashboard/private_backend.rb
  spec/bin/i18n_check_plurals_spec.rb
  spec/lib/rails_error_dashboard/private_backend_spec.rb
  spec/requests/russian_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Ukrainian, and prove pl is not ru (P6-T4b)
  README.md
  bin/i18n-check
  bin/i18n-merge
  config/locales/uk.yml
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard/i18n_store.rb
  lib/rails_error_dashboard/private_backend.rb
  spec/lib/rails_error_dashboard/private_backend_spec.rb
  spec/requests/ukrainian_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Polish — the third Slavic shape, and a different one (P6-T4b)
  README.md
  config/locales/pl.yml
  docs/guides/TRANSLATIONS.md
  spec/requests/polish_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Italian — a routine Romance locale that caught a real bug (P6-T4c)
  README.md
  config/locales/it.yml
  docs/guides/TRANSLATIONS.md
  spec/requests/italian_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(i18n): ship Simplified Chinese — completes the P6-T4 locale roadmap
  README.md
  config/locales/zh-CN.yml
  docs/guides/TRANSLATIONS.md
  spec/requests/chinese_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(i18n): correct the four locale lists still stopping at ru
  ROADMAP.md
  _guides/configuration.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

test(i18n): pin host-I18n isolation under hostile host configs (P7-T1)
  spec/requests/p7_host_isolation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): stop two rows overflowing at 375px when translated (P7-T2)
  app/views/rails_error_dashboard/errors/index.html.erb
  spec/requests/p7_host_isolation_spec.rb
  spec/system/p7_layout_qa_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(i18n): open a contribution path for translation corrections (P6-T3)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/translation_report.yml
  CONTRIBUTING.md
  README.md
  docs/guides/TRANSLATIONS.md
Due: trailing-whitespace

fix(security): authenticate every dashboard controller, not just ErrorsController
  SECURITY.md
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): authenticate every dashboard controller, not just ErrorsController (#167)
  SECURITY.md
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
