Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

fix: flaky system test — ensure sync logging in LogError return value test
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: flaky dashboard stats spec — freeze time at noon
  spec/queries/rails_error_dashboard/queries/dashboard_stats_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: v0.2.0 release — 4 new chaos test scenarios + version bump
  CHANGELOG.md
  bin/pre-release-test
  lib/rails_error_dashboard/version.rb
  test/pre_release/chaos/phase_i_multi_app.rb
  test/pre_release/chaos/phase_j0_seed_old_data.rb
  test/pre_release/chaos/phase_j_upgrade_verification.rb
  test/pre_release/chaos/phase_k_kitchen_sink.rb
  test/pre_release/templates/full_kitchen_sink_initializer.rb
  test/pre_release/templates/full_solid_queue_initializer.rb
  test/pre_release/templates/multi_app_alpha_initializer.rb
  test/pre_release/templates/multi_app_beta_initializer.rb
  test/pre_release/templates/upgrade_pre_initializer.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: add column_exists? guards to v0.2 migrations for fresh installs
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260220000001_add_exception_cause_to_error_logs.rb
  db/migrate/20260220000002_add_enriched_context_to_error_logs.rb
  db/migrate/20260221000001_add_environment_info_to_error_logs.rb
  db/migrate/20260221000002_add_reopened_at_to_error_logs.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: preserve reopened filter when applying filters (#73)
  app/views/rails_error_dashboard/errors/index.html.erb
  spec/system/quick_wins_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: flaky notification dispatcher spec — reset config before assertion
  spec/lib/rails_error_dashboard/services/error_notification_dispatcher_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(ui): add loading states and skeleton screens (#43)
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/system/loading_states_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add @midwire to contributors list
  CONTRIBUTORS.md
  README.md
Due: trailing-whitespace

chore: remove 18 obsolete markdown files and update version refs to v0.2.0
  CLAUDE.md
  CODE_REVIEW_REPORT.md
  COMMUNITY_INFRASTRUCTURE_VERIFICATION.md
  COMPREHENSIVE_TEST_RESULTS.md
  CRITICAL_FIXES_ULTRATHINK.md
  FINAL_v0.1.24_STATUS.md
  IMPROVEMENT_IDEAS.md
  INTEGRATION_TEST_FINAL_v0.1.24.md
  INTEGRATION_TEST_RESULTS_v0.1.24.md
  MANUAL_INSTALL_TEST_RESULTS.md
  MULTI_DB_FIX.md
  NEXT_RELEASE_NOTES.md
  README.md
  RELEASE_NOTES_0.1.22.md
  RELEASE_NOTES_v0.1.23.md
  TEST_RESULTS_v0.1.23.md
  TEST_RESULTS_v0.1.24.md
  TEST_RESULTS_v0.1.29.md
  ULTRATHINK_ANALYSIS.md
  UPGRADE_SCENARIOS_ANALYSIS.md
  docs/README.md
  index.md
Due: trailing-whitespace

fix: add disable_ddl_transaction! to time-series indexes migration (#75)
  db/migrate/20260220000003_add_time_series_indexes_to_error_logs.rb
  docs/MIGRATION_STRATEGY.md
  spec/migrations/add_time_series_indexes_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: release v0.2.1
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: guard against nil cascade pattern values on error detail page (#80)
  CHANGELOG.md
  app/views/rails_error_dashboard/errors/show.html.erb
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: handle string backtrace in cause chain on error detail page
  CHANGELOG.md
  app/views/rails_error_dashboard/errors/show.html.erb
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: copy migrations to correct path for separate database mode (#83)
  .gitignore
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/rails_error_dashboard/engine.rb
  spec/generators/install_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: use bigint for foreign key columns in squashed migration (#84)
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: add authenticate_with to README, QUICKSTART, FEATURES, CONFIGURATION, and SETTINGS
  README.md
  docs/FEATURES.md
  docs/QUICKSTART.md
  docs/guides/CONFIGURATION.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

feat: add breadcrumbs (request activity trail) for error context
  README.md
  app/helpers/rails_error_dashboard/application_helper.rb
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  db/migrate/20260303000001_add_breadcrumbs_to_error_logs.rb
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/QUICKSTART.md
  docs/guides/CONFIGURATION.md
  docs/guides/SETTINGS.md
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/middleware/error_catcher.rb
  lib/rails_error_dashboard/services/breadcrumb_collector.rb
  lib/rails_error_dashboard/subscribers/breadcrumb_subscriber.rb
  lib/tasks/error_dashboard.rake
  spec/dummy/db/schema.rb
  spec/generators/install_generator_spec.rb
  spec/jobs/rails_error_dashboard/retention_cleanup_job_spec.rb
  spec/lib/rails_error_dashboard/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/middleware/error_catcher_spec.rb
  spec/lib/rails_error_dashboard/subscribers/breadcrumb_subscriber_spec.rb
  spec/lib/rails_error_dashboard/verify_task_spec.rb
  spec/services/breadcrumb_collector_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: extract show page into 10 partials for maintainability
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_co_occurring_errors.html.erb
  app/views/rails_error_dashboard/errors/_discussion.html.erb
  app/views/rails_error_dashboard/errors/_error_cascades.html.erb
  app/views/rails_error_dashboard/errors/_error_info.html.erb
  app/views/rails_error_dashboard/errors/_modals.html.erb
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  app/views/rails_error_dashboard/errors/_show_scripts.html.erb
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  app/views/rails_error_dashboard/errors/_similar_errors.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: guard uncommitted config options in extracted partials
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
Due: none

feat: add section navigation pill bar with scroll spy
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_pattern_insights.html.erb
  app/views/rails_error_dashboard/errors/_timeline.html.erb
Due: none

feat: add deprecation warnings and N+1 query detection to breadcrumbs
  app/helpers/rails_error_dashboard/application_helper.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/n_plus_one_detector.rb
  lib/rails_error_dashboard/subscribers/breadcrumb_subscriber.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/subscribers/breadcrumb_subscriber_spec.rb
  spec/services/n_plus_one_detector_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add system health and N+1 detection to docs, settings, and generator
  README.md
  app/views/rails_error_dashboard/errors/settings.html.erb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add "Copy as curl" error replay button
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/curl_generator.rb
  spec/services/curl_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add job queue health to system health snapshot
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add breadcrumb aggregate pages for deprecations, N+1 queries, and cache health
  CHANGELOG.md
  README.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/cache_health_summary.html.erb
  app/views/rails_error_dashboard/errors/deprecations.html.erb
  app/views/rails_error_dashboard/errors/n_plus_one_summary.html.erb
  config/routes.rb
  docs/FEATURES.md
  docs/README.md
  docs/images/cache-health.png
  docs/images/deprecations.png
  docs/images/n-plus-one-queries.png
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/cache_health_summary.rb
  lib/rails_error_dashboard/queries/deprecation_warnings.rb
  lib/rails_error_dashboard/queries/n_plus_one_summary.rb
  spec/helpers/application_helper_spec.rb
  spec/lib/rails_error_dashboard/queries/cache_health_summary_spec.rb
  spec/lib/rails_error_dashboard/queries/deprecation_warnings_spec.rb
  spec/lib/rails_error_dashboard/queries/n_plus_one_summary_spec.rb
  spec/requests/cache_health_summary_spec.rb
  spec/requests/deprecations_spec.rb
  spec/requests/n_plus_one_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.3.0
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add database health panel with live PG stats and historical pool data
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/database_health_summary.rb
  lib/rails_error_dashboard/services/database_health_inspector.rb
  spec/lib/rails_error_dashboard/queries/database_health_summary_spec.rb
  spec/requests/database_health_summary_spec.rb
  spec/services/database_health_inspector_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add job health and database health to changelog, README, and features
  CHANGELOG.md
  README.md
  docs/FEATURES.md
Due: trailing-whitespace

chore: move SEO files to seo/ directory (gitignored)
  .gitignore
Due: none

feat: add job health summary page with queue monitoring
  app/views/rails_error_dashboard/errors/job_health_summary.html.erb
  lib/rails_error_dashboard/queries/job_health_summary.rb
  spec/lib/rails_error_dashboard/queries/job_health_summary_spec.rb
  spec/requests/job_health_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.3.1 with changelog, screenshots, and docs
  .claude/skills/safety-check/SKILL.md
  CHANGELOG.md
  README.md
  docs/FEATURES.md
  docs/images/database-health.png
  docs/images/job-health.png
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

try to broke github page
  docs/README.md
Due: trailing-whitespace

return back
  docs/README.md
Due: trailing-whitespace

change url in _config.yml
  _config.yml
Due: trailing-whitespace

feat: graceful degradation for swallowed exception detection on Ruby < 3.3
  app/controllers/rails_error_dashboard/errors_controller.rb
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/requests/swallowed_exceptions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add process crash capture via at_exit hook
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/crash_capture.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/services/crash_capture_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: eliminate N+1 queries and memory bloat in DashboardStats
  lib/rails_error_dashboard/queries/dashboard_stats.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: add FAQ and Migration Strategy to docs hub
  docs/README.md
Due: trailing-whitespace

feat: add Rack Attack event tracking (roadmap item R)
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/rack_attack_summary.rb
  lib/rails_error_dashboard/subscribers/rack_attack_subscriber.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/queries/rack_attack_summary_spec.rb
  spec/lib/rails_error_dashboard/subscribers/rack_attack_subscriber_spec.rb
  spec/requests/rack_attack_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add Jekyll front matter to fix GitHub Pages links
  _config.yml
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/MULTI_APP_PERFORMANCE.md
  docs/PLUGIN_SYSTEM.md
  docs/QUICKSTART.md
  docs/README.md
  docs/TROUBLESHOOTING.md
Due: trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
