Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

fix(security): prevent stored XSS in resolved-badge tooltip on timeline
  app/views/rails_error_dashboard/errors/_timeline.html.erb
  spec/requests/timeline_tooltip_xss_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): prevent stored XSS in auto_link_urls helper
  app/helpers/rails_error_dashboard/application_helper.rb
  spec/helpers/application_helper_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): defense-in-depth against </script> injection in inline JSON
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_show_scripts.html.erb
  spec/helpers/application_helper_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: correct stale Bootstrap claims in README, index, CLAUDE
  CLAUDE.md
  README.md
  index.md
Due: trailing-whitespace

perf: avoid full-record load when counting critical errors per version
  lib/rails_error_dashboard/queries/error_correlation.rb
  spec/lib/rails_error_dashboard/queries/error_correlation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

perf: time_correlated_errors uses one SQL GROUP BY instead of N full loads
  lib/rails_error_dashboard/queries/error_correlation.rb
  spec/lib/rails_error_dashboard/queries/error_correlation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

perf: CascadeDetector single-pass over plucked occurrences
  lib/rails_error_dashboard/services/cascade_detector.rb
  spec/services/cascade_detector_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: Pagy rescue must drop both :page and :per_page from redirect target
  app/controllers/rails_error_dashboard/application_controller.rb
  spec/requests/pagy_out_of_range_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add testimonial from @gmarziou (discussion #116)
  README.md
  index.md
Due: trailing-whitespace

chore: hide docs/test/refactor/chore from release-please triggers
  .release-please-config.json
Due: none

test: fix chaos assertion that always failed on real controller_name values
  test/pre_release/chaos/phase_f_http_error_capture.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: clarify multi-database support in README
  README.md
Due: trailing-whitespace

Add AI help drawer for errors
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_ai_help_panel.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  config/routes.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/llm_client.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/services/llm_client_spec.rb
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Stream AI help responses as markdown
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  lib/rails_error_dashboard/services/llm_client.rb
  spec/lib/rails_error_dashboard/services/llm_client_spec.rb
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Fix Anthropic AI help streaming
  lib/rails_error_dashboard/services/llm_client.rb
  spec/lib/rails_error_dashboard/services/llm_client_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Update README
  README.md
  docs/images/ai-help.png
Due: trailing-whitespace

Update CHANGELOG.md
  CHANGELOG.md
Due: trailing-whitespace

Handle provider error messages
  lib/rails_error_dashboard/services/llm_client.rb
  spec/lib/rails_error_dashboard/services/llm_client_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Add privacy note and stabilize llm spec
  README.md
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Update Appraisals examples and tighten specs
  Appraisals
  spec/lib/rails_error_dashboard/services/pattern_detector_spec.rb
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: AI Help drawer for errors (#123)
  Appraisals
  CHANGELOG.md
  README.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_ai_help_panel.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  config/routes.rb
  docs/images/ai-help.png
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/llm_client.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/services/llm_client_spec.rb
  spec/lib/rails_error_dashboard/services/pattern_detector_spec.rb
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(llm-observability): three capture paths, sidebar UI, markdown export
  README.md
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_llm_summary.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  bin/pre-release-test
  docs/FEATURES.md
  docs/LLM_OBSERVABILITY.md
  docs/guides/SETTINGS.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/integrations/llm_middleware.rb
  lib/rails_error_dashboard/integrations/llm_span_processor.rb
  lib/rails_error_dashboard/integrations/o_tel.rb
  lib/rails_error_dashboard/services/llm_summary.rb
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  lib/rails_error_dashboard/subscribers/llm_call_subscriber.rb
  spec/lib/rails_error_dashboard/integrations/llm_middleware_spec.rb
  spec/lib/rails_error_dashboard/integrations/llm_span_processor_spec.rb
  spec/lib/rails_error_dashboard/integrations/o_tel_spec.rb
  spec/lib/rails_error_dashboard/subscribers/llm_call_subscriber_spec.rb
  spec/services/llm_summary_spec.rb
  spec/services/markdown_error_formatter_spec.rb
  spec/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb_spec.rb
  spec/views/rails_error_dashboard/errors/_llm_summary.html.erb_spec.rb
  test/pre_release/chaos/phase_l_llm_observability.rb
  test/pre_release/templates/full_kitchen_sink_initializer.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(llm-observability): foundation — value object, categories, cost estimator
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/llm_cost_estimator.rb
  lib/rails_error_dashboard/value_objects/llm_call_event.rb
  spec/services/breadcrumb_collector_spec.rb
  spec/services/llm_cost_estimator_spec.rb
  spec/value_objects/llm_call_event_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add AI Help section + LLM Observability comparison in FEATURES.md
  docs/FEATURES.md
Due: trailing-whitespace

chore: refresh CLAUDE.md spec count to 3307
  CLAUDE.md
Due: trailing-whitespace

docs: credit @antarr for AI Help drawer (#123)
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
Due: trailing-whitespace

style: add inner spaces to empty blocks in phase_l chaos test
  test/pre_release/chaos/phase_l_llm_observability.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat(llm-observability): three capture paths, sidebar UI, markdown export (#125)
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTORS.md
  README.md
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_llm_summary.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  bin/pre-release-test
  docs/FEATURES.md
  docs/LLM_OBSERVABILITY.md
  docs/guides/SETTINGS.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/integrations/llm_middleware.rb
  lib/rails_error_dashboard/integrations/llm_span_processor.rb
  lib/rails_error_dashboard/integrations/o_tel.rb
  lib/rails_error_dashboard/services/llm_cost_estimator.rb
  lib/rails_error_dashboard/services/llm_summary.rb
  lib/rails_error_dashboard/services/markdown_error_formatter.rb
  lib/rails_error_dashboard/subscribers/llm_call_subscriber.rb
  lib/rails_error_dashboard/value_objects/llm_call_event.rb
  spec/lib/rails_error_dashboard/integrations/llm_middleware_spec.rb
  spec/lib/rails_error_dashboard/integrations/llm_span_processor_spec.rb
  spec/lib/rails_error_dashboard/integrations/o_tel_spec.rb
  spec/lib/rails_error_dashboard/subscribers/llm_call_subscriber_spec.rb
  spec/services/breadcrumb_collector_spec.rb
  spec/services/llm_cost_estimator_spec.rb
  spec/services/llm_summary_spec.rb
  spec/services/markdown_error_formatter_spec.rb
  spec/value_objects/llm_call_event_spec.rb
  spec/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb_spec.rb
  spec/views/rails_error_dashboard/errors/_llm_summary.html.erb_spec.rb
  test/pre_release/chaos/phase_l_llm_observability.rb
  test/pre_release/templates/full_kitchen_sink_initializer.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(changelog): drop stale [Unreleased] block, add Contributors to 0.7.0
  CHANGELOG.md
Due: trailing-whitespace

ci(release): add workflow_dispatch escape hatch for republishing
  .github/workflows/release.yml
Due: trailing-whitespace

fix(llm-observability): preserve numeric metadata on llm/llm_tool crumbs
  lib/rails_error_dashboard/services/breadcrumb_collector.rb
  spec/services/breadcrumb_collector_spec.rb
  spec/services/llm_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(llm-observability): stop word-break: break-all on By Model row
  app/views/rails_error_dashboard/errors/_llm_summary.html.erb
  spec/views/rails_error_dashboard/errors/_llm_summary.html.erb_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(llm-observability): filter overreach + word-break (#126)
  app/views/rails_error_dashboard/errors/_llm_summary.html.erb
  lib/rails_error_dashboard/services/breadcrumb_collector.rb
  spec/services/breadcrumb_collector_spec.rb
  spec/services/llm_summary_spec.rb
  spec/views/rails_error_dashboard/errors/_llm_summary.html.erb_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(llm-observability): per-model LLM health dashboard page
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/llm_health_summary.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/llm_health_summary.rb
  spec/lib/rails_error_dashboard/queries/llm_health_summary_spec.rb
  spec/requests/llm_health_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(roadmap): mark Phase 9 LLM observability items as shipped
  ROADMAP.md
Due: trailing-whitespace

fix(llm-observability): coerce stringified token/cost values in LlmHealthSummary
  lib/rails_error_dashboard/queries/llm_health_summary.rb
  spec/lib/rails_error_dashboard/queries/llm_health_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(llm-observability): per-model LLM health dashboard page (#128)
  ROADMAP.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/llm_health_summary.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/llm_health_summary.rb
  spec/lib/rails_error_dashboard/queries/llm_health_summary_spec.rb
  spec/requests/llm_health_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: drop Release-As orchestration commit from changelog
  CHANGELOG.md
Due: trailing-whitespace

docs(otel-export): initializer template, boot warning, roadmap update
  ROADMAP.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/engine.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
