Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

fix: add info note when workflow controls are hidden
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
Due: none

feat: add Releases dashboard page and mask secrets in settings
  README.md
  ROADMAP.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/releases.html.erb
  app/views/rails_error_dashboard/errors/settings/_value_badge.html.erb
  config/routes.rb
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/release_timeline.rb
  spec/factories/error_logs.rb
  spec/queries/release_timeline_spec.rb
  spec/requests/releases_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: add Pagy pagination to releases page
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/releases.html.erb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add code path coverage diagnostic mode (v0.5.11)
  CHANGELOG.md
  README.md
  ROADMAP.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/backtrace_helper.rb
  app/views/rails_error_dashboard/errors/_source_code.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/coverage_tracker.rb
  lib/rails_error_dashboard/version.rb
  spec/requests/coverage_tracking_spec.rb
  spec/services/coverage_tracker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add scheduled digest emails (daily/weekly error summaries)
  app/jobs/rails_error_dashboard/scheduled_digest_job.rb
  app/mailers/rails_error_dashboard/digest_mailer.rb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.html.erb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.text.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/digest_builder.rb
  lib/tasks/error_dashboard.rake
  spec/jobs/rails_error_dashboard/scheduled_digest_job_spec.rb
  spec/services/digest_builder_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add User Impact page — rank errors by unique users affected
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/user_impact.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/user_impact_summary.rb
  spec/queries/user_impact_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: update post-install message and fix stale /error_dashboard URLs (#98)
  README.md
  _features/source-code-integration.md
  _getting_started/quickstart.md
  _guides/configuration.md
  _guides/mobile-app-integration.md
  _guides/notifications.md
  _guides/real-time-updates.md
  _reference/troubleshooting.md
  docs/QUICKSTART.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/TROUBLESHOOTING.md
  docs/guides/CONFIGURATION.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/NOTIFICATIONS.md
  docs/guides/REAL_TIME_UPDATES.md
  index.md
  lib/generators/rails_error_dashboard/install/templates/README
  rails_error_dashboard.gemspec
Due: trailing-whitespace

fix: skip route when engine is already mounted (#100)
  lib/generators/rails_error_dashboard/install/install_generator.rb
  spec/generators/install_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: use detected engine mount path instead of hardcoded /error_dashboard/
  app/mailers/rails_error_dashboard/digest_mailer.rb
  app/mailers/rails_error_dashboard/error_notification_mailer.rb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.html.erb
  app/views/rails_error_dashboard/digest_mailer/digest_summary.text.erb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/middleware/rate_limiter.rb
  lib/rails_error_dashboard/plugins/jira_integration_plugin.rb
  lib/rails_error_dashboard/services/notification_helpers.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: pass dashboard_url to auto-created issues
  lib/rails_error_dashboard/subscribers/issue_tracker_subscriber.rb
  spec/subscribers/issue_tracker_subscriber_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: capture correct request context for errors reported by Rails internals (#106)
  lib/rails_error_dashboard/error_reporter.rb
  lib/rails_error_dashboard/middleware/error_catcher.rb
  spec/lib/rails_error_dashboard/error_reporter_spec.rb
  spec/lib/rails_error_dashboard/middleware/error_catcher_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: preserve request_params through async logging double-ErrorContext path
  lib/rails_error_dashboard/value_objects/error_context.rb
  spec/value_objects/error_context_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: Docker build safety, settings auto-detect display, broadcast route helpers
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.5.12 and update changelog
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: engine route helpers unavailable in views when mounted at custom path (#110)
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  lib/rails_error_dashboard/services/error_broadcaster.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add application name to all notification channels (#111)
  app/mailers/rails_error_dashboard/error_notification_mailer.rb
  app/views/rails_error_dashboard/error_notification_mailer/error_alert.html.erb
  app/views/rails_error_dashboard/error_notification_mailer/error_alert.text.erb
  lib/rails_error_dashboard/services/baseline_alert_payload_builder.rb
  lib/rails_error_dashboard/services/discord_payload_builder.rb
  lib/rails_error_dashboard/services/notification_helpers.rb
  lib/rails_error_dashboard/services/pagerduty_payload_builder.rb
  lib/rails_error_dashboard/services/slack_payload_builder.rb
  lib/rails_error_dashboard/services/webhook_payload_builder.rb
  spec/lib/rails_error_dashboard/services/baseline_alert_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/discord_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/notification_helpers_spec.rb
  spec/lib/rails_error_dashboard/services/pagerduty_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/slack_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/webhook_payload_builder_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.5.13 and update changelog
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: handle loopback IP addresses as localhost in build_url in CurlGenerator
  lib/rails_error_dashboard/services/curl_generator.rb
  spec/services/curl_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.5.14 and add @gmarziou to contributors
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: prevent recursive error capture when Redis is unavailable (#114)
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/error_reporter.rb
  spec/lib/rails_error_dashboard/commands/async_logging_spec.rb
  spec/lib/rails_error_dashboard/error_reporter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: shorten backtrace paths in database to save disk space (#115)
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/backtrace_parser.rb
  lib/rails_error_dashboard/services/backtrace_processor.rb
  spec/helpers/backtrace_helper_spec.rb
  spec/lib/rails_error_dashboard/services/backtrace_processor_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: prevent duplicate GitHub issues, fix dashboard URL, fix Stimulus loading
  app/views/layouts/rails_error_dashboard.html.erb
  lib/rails_error_dashboard/services/notification_helpers.rb
  lib/rails_error_dashboard/subscribers/issue_tracker_subscriber.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: prevent ErrorBroadcaster from triggering Redis when unavailable (#114)
  lib/rails_error_dashboard/services/error_broadcaster.rb
  spec/lib/rails_error_dashboard/services/error_broadcaster_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: skip Turbo Stream subscription when ActionCable pubsub is unavailable (#114)
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

chore: bump version to 0.5.15 and update changelog
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: complete UI/UX redesign — v0.6.0
  CHANGELOG.md
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_co_occurring_errors.html.erb
  app/views/rails_error_dashboard/errors/_discussion.html.erb
  app/views/rails_error_dashboard/errors/_error_cascades.html.erb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/_instance_variables.html.erb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/_local_variables.html.erb
  app/views/rails_error_dashboard/errors/_pattern_insights.html.erb
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  app/views/rails_error_dashboard/errors/_similar_errors.html.erb
  app/views/rails_error_dashboard/errors/_timeline.html.erb
  app/views/rails_error_dashboard/errors/actioncable_health_summary.html.erb
  app/views/rails_error_dashboard/errors/activestorage_health_summary.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/cache_health_summary.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  app/views/rails_error_dashboard/errors/deprecations.html.erb
  app/views/rails_error_dashboard/errors/diagnostic_dumps.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/job_health_summary.html.erb
  app/views/rails_error_dashboard/errors/n_plus_one_summary.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  app/views/rails_error_dashboard/errors/releases.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  app/views/rails_error_dashboard/errors/swallowed_exceptions.html.erb
  app/views/rails_error_dashboard/errors/user_impact.html.erb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: system test and integration test failures from UI redesign
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/support/system_helpers.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: system test compatibility with tab-based error detail layout
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: restore CSS selectors expected by system tests
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: restore missing form elements expected by system tests
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

fix: update system tests for redesigned UI and restore missing features
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/support/modal_helpers.rb
  spec/system/error_workflow_spec.rb
  spec/system/query_integration_spec.rb
  spec/system/quick_wins_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: update all README screenshots for v0.6.0 redesign
  docs/images/analytics.png
  docs/images/cache-health.png
  docs/images/dashboard-overview.png
  docs/images/database-health.png
  docs/images/deprecations.png
  docs/images/diagnostic-dumps.png
  docs/images/error-detail.png
  docs/images/errors-list.png
  docs/images/job-health.png
  docs/images/local-variables.png
  docs/images/n-plus-one-queries.png
  docs/images/settings.png
  docs/images/swallowed-exceptions.png
Due: none

fix: redesign database health page layout for new UI
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  docs/images/database-health.png
Due: none

fix: error detail sidebar layout — remove col-md-4 width conflict
  app/views/rails_error_dashboard/errors/show.html.erb
  docs/images/error-detail.png
  spec/system/quick_wins_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: app switcher updates sidebar name and shows app on error detail
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: preserve application context across all navigation and actions
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add sparkline bar charts to overview stat cards
  app/views/rails_error_dashboard/errors/overview.html.erb
  docs/images/dashboard-overview.png
Due: none

chore: update changelog for v0.6.0 with all post-redesign fixes
  CHANGELOG.md
Due: trailing-whitespace

docs: refresh all screenshots with LOTR seed data for v0.6.0
  docs/images/analytics.png
  docs/images/cache-health.png
  docs/images/dashboard-overview.png
  docs/images/database-health.png
  docs/images/deprecations.png
  docs/images/diagnostic-dumps.png
  docs/images/error-detail.png
  docs/images/errors-list.png
  docs/images/job-health.png
  docs/images/local-variables.png
  docs/images/n-plus-one-queries.png
  docs/images/settings.png
  docs/images/swallowed-exceptions.png
Due: none

fix: rescue Gem::LoadError when redis gem missing from bundle (#114)
  lib/rails_error_dashboard/services/error_broadcaster.rb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/lib/rails_error_dashboard/services/error_broadcaster_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
