Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

chore: add chaos tests to lefthook pre-commit, clean up dead specs
  CLAUDE.md
  blog/debugging-phase-f-zombie-servers.md
  lefthook.yml
  spec/features/multi_app_support_spec.rb
  spec/integration/installation_spec.rb
  spec/services/git_blame_reader_spec.rb
  test/pre_release/templates/full_async_initializer.rb
  test/pre_release/templates/full_http_initializer.rb
  test/pre_release/templates/full_separate_db_initializer.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: resolve RuboCop lint failures in CI
  spec/features/multi_app_support_spec.rb
  test/pre_release/templates/full_async_initializer.rb
  test/pre_release/templates/full_http_initializer.rb
  test/pre_release/templates/full_separate_db_initializer.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add comprehensive full integration test suite
  .github/workflows/ci.yml
  bin/full-integration-test
  test/pre_release/chaos/integration_tests.rb
  test/pre_release/lib/integration_test_runner.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: resolve CI failures in integration tests and RuboCop
  .rubocop.yml
  bin/full-integration-test
  test/pre_release/chaos/integration_tests.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: release v0.1.37
  .release-please-manifest.json
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: add pre-release chaos test suite and gitignore private docs
  .gitignore
  bin/pre-release-test
  test/pre_release/chaos/phase_a_data_integrity.rb
  test/pre_release/chaos/phase_b_edge_cases.rb
  test/pre_release/chaos/phase_c_queries.rb
  test/pre_release/chaos/phase_d_http_endpoints.rb
  test/pre_release/chaos/phase_e_error_capture.rb
  test/pre_release/chaos/phase_f_http_error_capture.rb
  test/pre_release/lib/test_harness.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: upgrade pagy from ~> 9.0 to ~> 43.0
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/index.html.erb
  lib/rails_error_dashboard.rb
  rails_error_dashboard.gemspec
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: flaky backtrace_limiting_spec due to dummy app config leaking
  spec/lib/rails_error_dashboard/commands/backtrace_limiting_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: release v0.1.38
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add line numbers to backtrace frames in error detail view
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

feat: add exception cause chain capture
  app/jobs/rails_error_dashboard/async_error_logging_job.rb
  app/views/rails_error_dashboard/errors/show.html.erb
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260220000001_add_exception_cause_to_error_logs.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/cause_chain_extractor.rb
  spec/lib/rails_error_dashboard/commands/async_logging_spec.rb
  spec/lib/rails_error_dashboard/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard/services/cause_chain_extractor_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add skeleton loading CSS animations to layout (#43)
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

feat: add Stimulus CDN and LoadingController (#43)
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

feat: add enriched error context (HTTP method, hostname, content type, duration)
  app/views/rails_error_dashboard/errors/show.html.erb
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260220000002_add_enriched_context_to_error_logs.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/middleware/error_catcher.rb
  lib/rails_error_dashboard/value_objects/error_context.rb
  spec/commands/log_error_spec.rb
  spec/value_objects/error_context_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add custom fingerprint lambda for error deduplication
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
  spec/services/error_hash_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add skeleton screens and loading states to error index (#43)
  app/views/rails_error_dashboard/errors/index.html.erb
  spec/system/loading_states_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add loading states to async action buttons (#43)
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/system/loading_states_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: auto-detect user context from CurrentAttributes
  lib/rails_error_dashboard/value_objects/error_context.rb
  spec/value_objects/error_context_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add BRIN/functional indexes and retention cleanup job
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260220000003_add_time_series_indexes_to_error_logs.rb
  spec/jobs/rails_error_dashboard/retention_cleanup_job_spec.rb
  spec/migrations/add_time_series_indexes_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add design doc for loading states and skeleton screens (#43)
  docs/plans/2026-02-20-loading-states-skeleton-screens-design.md
Due: trailing-whitespace

docs: add implementation plan for loading states and skeleton screens (#43)
  docs/plans/2026-02-20-loading-states-skeleton-screens-plan.md
Due: trailing-whitespace

feat: make browser, chartkick, httparty, turbo-rails optional dependencies
  Gemfile
  app/jobs/rails_error_dashboard/baseline_alert_job.rb
  app/jobs/rails_error_dashboard/discord_error_notification_job.rb
  app/jobs/rails_error_dashboard/pagerduty_error_notification_job.rb
  app/jobs/rails_error_dashboard/webhook_error_notification_job.rb
  app/views/rails_error_dashboard/errors/index.html.erb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/platform_detector.rb
  rails_error_dashboard.gemspec
  spec/jobs/rails_error_dashboard/baseline_alert_job_spec.rb
  spec/services/platform_detector_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: use backtrace_locations for structured backtrace parsing
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/backtrace_parser.rb
  lib/rails_error_dashboard/services/backtrace_processor.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  spec/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard/services/backtrace_processor_spec.rb
  spec/services/backtrace_parser_spec.rb
  spec/services/error_hash_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: capture environment info (Ruby, Rails, gems) at error time
  app/views/rails_error_dashboard/errors/show.html.erb
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20260221000001_add_environment_info_to_error_logs.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/environment_snapshot.rb
  spec/commands/log_error_spec.rb
  spec/services/environment_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add sensitive data filtering with secure defaults
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/sensitive_data_filter.rb
  spec/commands/log_error_spec.rb
  spec/services/sensitive_data_filter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: auto-reopen resolved errors on recurrence
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/find_or_increment_error_spec.rb
  spec/commands/log_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add notification throttling with severity filter, cooldown, and threshold alerts
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/notification_throttler.rb
  spec/commands/log_error_spec.rb
  spec/services/notification_throttler_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add reopened badge UI for auto-reopened errors
  app/models/rails_error_dashboard/error_log.rb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  db/migrate/20260221000002_add_reopened_at_to_error_logs.rb
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  spec/commands/find_or_increment_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: add backtrace_locations and cause to SyntheticException
  lib/rails_error_dashboard/manual_error_reporter.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

test: add system tests for v0.2 quick wins UI features
  spec/system/quick_wins_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: add Phase G chaos tests for v0.2 quick wins
  bin/pre-release-test
  test/pre_release/chaos/phase_g_quick_wins.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: enhance installer with 3 database modes and verify rake task
  app/models/rails_error_dashboard/error_logs_record.rb
  docs/guides/DATABASE_OPTIONS.md
  lefthook.yml
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/tasks/error_dashboard.rake
  spec/generators/install_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: add unit, system, and chaos tests for database setup features
  bin/pre-release-test
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/verify_task_spec.rb
  spec/system/database_setup_spec.rb
  test/pre_release/chaos/phase_h_database_setup.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: Phase H chaos test connection check for SQLite compatibility
  test/pre_release/chaos/phase_h_database_setup.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: guard turbo_stream_from against missing ActionCable
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

docs: add v0.2 quick wins documentation to CHANGELOG, README, and FEATURES
  CHANGELOG.md
  README.md
  docs/FEATURES.md
Due: trailing-whitespace

feat: add reopened errors stat box and quick filter button
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/_stats.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/queries/errors_list.rb
  spec/factories/error_logs.rb
  spec/queries/dashboard_stats_spec.rb
  spec/queries/errors_list_reopened_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add line numbers to backtrace frames in error detail view (#69)
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

docs: update CHANGELOG and FEATURES for backtrace line numbers (#69)
  CHANGELOG.md
  docs/FEATURES.md
Due: trailing-whitespace

fix: CI test failures — use db:schema:load and Migration[7.0]
  .github/workflows/test.yml
  .gitignore
  .rubocop.yml
  db/migrate/20251224081522_add_better_tracking_to_error_logs.rb
  db/migrate/20251224101217_add_controller_action_to_error_logs.rb
  db/migrate/20251225071314_add_optimized_indexes_to_error_logs.rb
  db/migrate/20251225074653_remove_environment_from_error_logs.rb
  db/migrate/20251225085859_add_enhanced_metrics_to_error_logs.rb
  db/migrate/20251225093603_add_similarity_tracking_to_error_logs.rb
  db/migrate/20251225100236_create_error_occurrences.rb
  db/migrate/20251225101920_create_cascade_patterns.rb
  db/migrate/20251225102500_create_error_baselines.rb
  db/migrate/20251226020000_add_workflow_fields_to_error_logs.rb
  db/migrate/20251226020100_create_error_comments.rb
  db/migrate/20251230075315_cleanup_orphaned_migrations.rb
  db/migrate/20260220000003_add_time_series_indexes_to_error_logs.rb
  spec/dummy/db/schema.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
