Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

feat: display gem version in dashboard footer and settings page (#119)
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
Due: none

feat: add test error button to verify notification delivery (#120)
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/settings.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/test_error.rb
  spec/requests/test_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: address 5 UI issues from discussion #117 (v0.6 new UI feedback)
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

fix: 6 UI/UX improvements from post-v0.6 audit
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/support/system_helpers.rb
  spec/system/loading_states_spec.rb
  spec/system/query_integration_spec.rb
  spec/system/quick_wins_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: render styled error pages within dashboard layout
  app/controllers/rails_error_dashboard/application_controller.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: timeline resolution text contrast and table horizontal scroll on desktop
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/_timeline.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

fix: tooltip on clipped App/Platform badges and sidebar breakpoint
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: use pure white text in dark mode for better visibility
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

fix: improve swallowed exceptions text readability in both themes
  app/views/rails_error_dashboard/errors/swallowed_exceptions.html.erb
Due: none

fix: improve text-muted and table-light readability across all pages
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

chore: change footer wording from "Created" to "Built"
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

chore: bump version to 0.6.1
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: support strict CSP hosts and fix select-all column overlap
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_error_info.html.erb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  app/views/rails_error_dashboard/errors/_show_scripts.html.erb
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/requests/csp_compatibility_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: redirect out-of-range page params to a valid page
  app/controllers/rails_error_dashboard/errors_controller.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: All filter pill now actually shows all errors
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

chore: bump version to 0.6.2
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: sync release-please manifest with actual published version
  .release-please-config.json
  .release-please-manifest.json
Due: none

fix: bulk-resolved errors now appear under the Resolved filter
  lib/rails_error_dashboard/commands/batch_resolve_errors.rb
  spec/commands/rails_error_dashboard/commands/batch_resolve_errors_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: Assigned and Reopened pills hid resolved errors
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

fix: BatchMuteErrors accepts and persists mute reason
  app/controllers/rails_error_dashboard/errors_controller.rb
  lib/rails_error_dashboard/commands/batch_mute_errors.rb
  spec/commands/rails_error_dashboard/commands/batch_mute_errors_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: backfill status='resolved' for errors bulk-resolved on v0.6.0–v0.6.2
  db/migrate/20260503000001_backfill_resolved_status.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: cross-page errors_path links no longer hide resolved errors
  app/views/rails_error_dashboard/errors/_user_errors_table.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

chore: add .ruby-version so release workflow can boot
  .ruby-version
Due: none

fix: cross-platform errors table now links each error_type to filtered list
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
Due: none

fix: Errors by Hour of Day chart shows hours 0-23, not chronological dates
  app/views/rails_error_dashboard/errors/analytics.html.erb
  lib/rails_error_dashboard/queries/analytics_stats.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: user_id, app_version, git_sha filters were silently dropped
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  lib/rails_error_dashboard/queries/errors_list.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: drill-downs and label clarity from page-by-page audit
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/releases.html.erb
  app/views/rails_error_dashboard/errors/user_impact.html.erb
  spec/queries/rails_error_dashboard/queries/analytics_stats_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: more drill-down links from page audit
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  app/views/rails_error_dashboard/errors/swallowed_exceptions.html.erb
Due: none

fix: render error counts with thousand separators
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/diagnostic_dumps.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  spec/requests/diagnostic_dumps_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: priority filter pill shows correct P-number short_label
  app/views/rails_error_dashboard/errors/index.html.erb
  spec/requests/errors_index_filter_pills_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: handle Time objects in PostgreSQL last_autovacuum cells
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  spec/helpers/application_helper_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: hide platform quick-action button when error has no platform
  app/views/rails_error_dashboard/errors/show.html.erb
  spec/requests/errors_show_quick_actions_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: remove stray </h5> in settings.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
Due: none

fix: clamp days param to [1, 365] across all health/analytics actions
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/requests/days_param_clamping_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: link error_type cells on database_health_summary to filtered errors
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
Due: none

fix: link Severity, Platform, and User badges in error sidebar to filtered errors
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
Due: none

fix: link user_id column on errors index to that user's filtered errors
  app/views/rails_error_dashboard/errors/_error_row.html.erb
Due: none

fix: remove duplicate .modal-content class from resolve modal form
  app/views/rails_error_dashboard/errors/_modals.html.erb
Due: none

fix: guard JSON-parsing partials against unexpected shapes
  app/views/rails_error_dashboard/errors/_breadcrumbs_group.html.erb
  app/views/rails_error_dashboard/errors/_instance_variables.html.erb
  app/views/rails_error_dashboard/errors/_local_variables.html.erb
  spec/requests/local_variables_display_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: preserve query string when redirecting from Pagy out-of-range page
  app/controllers/rails_error_dashboard/application_controller.rb
  spec/requests/pagy_out_of_range_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
