Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

docs(roadmap): plan per-occurrence context history (C3) for v0.12
  ROADMAP.md
Due: trailing-whitespace

fix(capture): refresh moment-of-failure context on every recurrence
  .shipkit/research/red-unique-features-verified.md
  README.md
  ROADMAP.md
  _getting_started/features.md
  _reference/faq.md
  docs/FAQ.md
  docs/FEATURES.md
  index.md
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  rails_error_dashboard.gemspec
  spec/commands/find_or_increment_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci: allow manual dispatch of the Tests workflow
  .github/workflows/test.yml
Due: trailing-whitespace

fix(capture): refresh moment-of-failure context on every recurrence (#190)
  .github/workflows/test.yml
  .shipkit/research/red-unique-features-verified.md
  README.md
  ROADMAP.md
  _getting_started/features.md
  _reference/faq.md
  docs/FAQ.md
  docs/FEATURES.md
  index.md
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  rails_error_dashboard.gemspec
  spec/commands/find_or_increment_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci(release): give Ferrum 30s to start Chrome before publishing
  .github/workflows/release.yml
Due: trailing-whitespace

ci(release): give Ferrum 30s to start Chrome before publishing (#192)
  .github/workflows/release.yml
Due: trailing-whitespace

chore(gemspec): format the RubyGems description as RDoc sections
  rails_error_dashboard.gemspec
Due: none

fix(rack-attack): drain buffered events at the end of each request
  Gemfile
  _guides/configuration.md
  app/jobs/rails_error_dashboard/rack_attack_flush_job.rb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/rack_attack_tracker.rb
  spec/integration/rack_attack_real_middleware_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/services/rack_attack_tracker_spec.rb
  spec/requests/rack_attack_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(rack-attack): pin the aggregation example to a single hour bucket
  spec/integration/rack_attack_real_middleware_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(rack-attack): drain buffered events at the end of each request (#195)
  Gemfile
  _guides/configuration.md
  app/jobs/rails_error_dashboard/rack_attack_flush_job.rb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/rack_attack_tracker.rb
  spec/integration/rack_attack_real_middleware_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/services/rack_attack_tracker_spec.rb
  spec/requests/rack_attack_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(gemspec): render the description on old RDoc as well as new
  spec/gemspec_description_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(rack-attack): count GitHub Copilot in the AI agent total
  _guides/configuration.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/services/ai_agent_classifier.rb
  spec/lib/rails_error_dashboard/services/ai_agent_classifier_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(gemspec): render the RubyGems description as RDoc, not one cramped block
  rails_error_dashboard.gemspec
  spec/gemspec_description_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: classify GitHub Copilot, and render the RubyGems description as RDoc (#197)
  _guides/configuration.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/services/ai_agent_classifier.rb
  rails_error_dashboard.gemspec
  spec/gemspec_description_spec.rb
  spec/lib/rails_error_dashboard/services/ai_agent_classifier_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): order chart dates the way each locale writes them
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/helpers/rails_error_dashboard/chart_date_i18n_spec.rb
  spec/system/chart_date_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): repair the chart date adapter when the CDN load order loses
  app/views/layouts/rails_error_dashboard.html.erb
  spec/system/chartkick_load_listener_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): localize the hour and minute chart axes Chartkick asks for
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/system/chart_date_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): select plural forms in the browser the way the server does
  app/views/layouts/rails_error_dashboard.html.erb
  spec/system/js_plural_parity_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): repair and reorder chart date axes, and match the server's plural rules (#199)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/helpers/rails_error_dashboard/chart_date_i18n_spec.rb
  spec/system/chart_date_locale_spec.rb
  spec/system/chartkick_load_listener_spec.rb
  spec/system/js_plural_parity_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Review of the French translation
  config/locales/fr.yml
Due: trailing-whitespace

docs(roadmap): mark environment awareness done and record v0.11.0
  ROADMAP.md
Due: trailing-whitespace

docs(roadmap): bring the record up to v0.11.4 and verify upstream status
  ROADMAP.md
Due: trailing-whitespace

docs(roadmap): mark environment awareness done and record v0.11.0 (#188)
  ROADMAP.md
Due: trailing-whitespace

docs(roadmap): C2 shipped in v0.11.1
  ROADMAP.md
Due: trailing-whitespace

docs(roadmap): C2 shipped in v0.11.1 (#193)
  ROADMAP.md
Due: trailing-whitespace

ci: pin json < 3 until Rails ships the compatibility fix
  Gemfile
  bin/full-integration-test
Due: none

fix(i18n): native-speaker review of the French translation (#201)
  config/locales/fr.yml
Due: trailing-whitespace

fix(storm): redact exemplar messages before storm persistence
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  spec/commands/flush_storm_counts_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): reconcile counted events onto a single group row
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  spec/commands/flush_storm_counts_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(fingerprint): hash the same 500-char message prefix on both paths
  lib/rails_error_dashboard/services/error_hash_generator.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/flush_storm_counts_spec.rb
  spec/services/error_hash_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): keep exact counts through snapshot races and failed enqueues
  lib/rails_error_dashboard/services/storm_protection/count_buffer.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/services/storm_protection/count_buffer_spec.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(dedup): hold the row lock across find-and-increment in one transaction
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  spec/commands/find_or_increment_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): carry request/session IDs and environment through the reporter
  lib/rails_error_dashboard/value_objects/error_context.rb
  spec/lib/rails_error_dashboard/error_reporter_spec.rb
  spec/value_objects/error_context_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(async): reconstruct exceptions without calling subclass constructors
  app/jobs/rails_error_dashboard/async_error_logging_job.rb
  spec/jobs/rails_error_dashboard/async_error_logging_job_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(analytics): scope the resolution-rate numerator to the filtered application
  lib/rails_error_dashboard/queries/analytics_stats.rb
  spec/queries/rails_error_dashboard/queries/analytics_stats_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(releases): attribute each occurrence to the release it happened under
  db/migrate/20260908000001_add_release_to_error_occurrences.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/queries/release_timeline.rb
  spec/commands/log_error_spec.rb
  spec/dummy/db/schema.rb
  spec/factories/error_logs.rb
  spec/queries/release_timeline_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(baselines): bucket by calendar period via groupdate and compare matching units
  _features/baseline-monitoring.md
  app/jobs/rails_error_dashboard/baseline_calculation_job.rb
  app/models/rails_error_dashboard/error_log.rb
  docs/features/BASELINE_MONITORING.md
  lib/rails_error_dashboard/queries/baseline_stats.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/services/baseline_calculator.rb
  spec/jobs/rails_error_dashboard/baseline_calculation_job_spec.rb
  spec/queries/baseline_stats_spec.rb
  spec/services/baseline_calculator_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): snapshot strings, arrays and hashes at raise time
  README.md
  docs/FEATURES.md
  lib/rails_error_dashboard/services/local_variable_capturer.rb
  spec/services/local_variable_capturer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(health): cache and gate job-queue depth counts in the system health snapshot
  README.md
  _guides/configuration.md
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/services/system_health_snapshot_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): retain the batch when Active Job reports a failed enqueue without raising
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
