Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

fix(specs): restore every credential this spec overwrites, not just one
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(specs): restore every credential this spec overwrites, not just one (#168)
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(changelog): add the 0.9.0 i18n release notes
  CHANGELOG.md
Due: trailing-whitespace

docs(changelog): add the 0.9.0 i18n release notes (#169)
  CHANGELOG.md
Due: trailing-whitespace

docs(gemspec): state the eleven-locale i18n support in summary and description
  rails_error_dashboard.gemspec
Due: none

fix(specs): stop the load_path pin silently passing zero arguments
  spec/lib/rails_error_dashboard/private_backend_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(specs): stop the load_path pin silently passing zero arguments (#172)
  spec/lib/rails_error_dashboard/private_backend_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(gemspec): state the eleven-locale i18n support in summary and description (#171)
  rails_error_dashboard.gemspec
Due: none

fix(security): refuse default credentials outside development and test
  CHANGELOG.md
  docs/FEATURES.md
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): refuse default credentials outside development and test (#173)
  CHANGELOG.md
  docs/FEATURES.md
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_validation_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(skills): make the demo landing-page copy a required demo-update step
  .claude/skills/demo-update/SKILL.md
Due: trailing-whitespace

docs(skills): make the demo landing-page copy a required demo-update step (#175)
  .claude/skills/demo-update/SKILL.md
Due: trailing-whitespace

docs(security): replace both bouncing @anjan.dev addresses
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: trailing-whitespace

docs(security): replace both bouncing @anjan.dev addresses (#176)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: trailing-whitespace

fix(rack-attack): fall back to client IP for track discriminators
  lib/rails_error_dashboard/subscribers/rack_attack_subscriber.rb
  spec/integration/rack_attack_persistence_spec.rb
  spec/lib/rails_error_dashboard/subscribers/rack_attack_subscriber_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(rack-attack): account for dropped counts, flush on shutdown, record agents
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/jobs/rails_error_dashboard/rack_attack_flush_job.rb
  app/models/rails_error_dashboard/rack_attack_event.rb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  db/migrate/20260824000001_add_user_agent_to_rack_attack_events.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/flush_rack_attack_events.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/rack_attack_summary.rb
  lib/rails_error_dashboard/services/ai_agent_classifier.rb
  lib/rails_error_dashboard/services/rack_attack_tracker.rb
  lib/rails_error_dashboard/subscribers/rack_attack_subscriber.rb
  spec/dummy/db/schema.rb
  spec/lib/rails_error_dashboard/queries/rack_attack_summary_spec.rb
  spec/lib/rails_error_dashboard/services/ai_agent_classifier_spec.rb
  spec/lib/rails_error_dashboard/services/rack_attack_tracker_spec.rb
  spec/lib/rails_error_dashboard/subscribers/rack_attack_subscriber_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(rack-attack): document AI agent tracking and the counted-track trap
  _guides/configuration.md
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/commands/flush_rack_attack_events.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(generator): stop re-run migrations colliding with installed timestamps
  .github/workflows/ci.yml
  bin/pre-release-test
  lib/generators/rails_error_dashboard/install/install_generator.rb
  test/pre_release/chaos/phase_j_upgrade_verification.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs(roadmap,skills): refresh the roadmap to v0.9.1 and backfill the safety skill
  .claude/skills/host-app-safety/SKILL.md
  ROADMAP.md
Due: trailing-whitespace

fix(i18n): localize chart dates and correct the horizontal bar chart axes
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/helpers/rails_error_dashboard/chart_date_i18n_spec.rb
  spec/requests/ui_js_i18n_spec.rb
  spec/system/chart_date_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(rack-attack): fix track discriminator, count loss and shutdown flush; record agents (#177)
  .github/workflows/ci.yml
  _guides/configuration.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/jobs/rails_error_dashboard/rack_attack_flush_job.rb
  app/models/rails_error_dashboard/rack_attack_event.rb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  bin/pre-release-test
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  db/migrate/20260824000001_add_user_agent_to_rack_attack_events.rb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/flush_rack_attack_events.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/rack_attack_summary.rb
  lib/rails_error_dashboard/services/ai_agent_classifier.rb
  lib/rails_error_dashboard/services/rack_attack_tracker.rb
  lib/rails_error_dashboard/subscribers/rack_attack_subscriber.rb
  spec/dummy/db/schema.rb
  spec/integration/rack_attack_persistence_spec.rb
  spec/lib/rails_error_dashboard/queries/rack_attack_summary_spec.rb
  spec/lib/rails_error_dashboard/services/ai_agent_classifier_spec.rb
  spec/lib/rails_error_dashboard/services/rack_attack_tracker_spec.rb
  spec/lib/rails_error_dashboard/subscribers/rack_attack_subscriber_spec.rb
  test/pre_release/chaos/phase_j_upgrade_verification.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(i18n): localize chart dates and correct the horizontal bar chart axes (#179)
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/helpers/rails_error_dashboard/chart_date_i18n_spec.rb
  spec/requests/ui_js_i18n_spec.rb
  spec/system/chart_date_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(roadmap,skills): refresh the roadmap to v0.9.1 and backfill the safety skill (#180)
  .claude/skills/host-app-safety/SKILL.md
  ROADMAP.md
Due: trailing-whitespace

docs(skills): add the migration step to /demo-update, and correct the constraint
  .claude/skills/demo-update/SKILL.md
Due: trailing-whitespace

docs(skills): make the seed step about visibility, not just existence
  .claude/skills/demo-update/SKILL.md
Due: trailing-whitespace

docs(skills): add the migration step to /demo-update, and correct the constraint (#182)
  .claude/skills/demo-update/SKILL.md
Due: trailing-whitespace

fix(specs): block Google Fonts in system specs, and raise the browser launch timeout
  .github/workflows/test.yml
  spec/support/capybara.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(specs): stop system specs touching the network at all
  spec/support/capybara.rb
  spec/support/vendor/README.md
  spec/support/vendor/bootstrap.bundle.min.js
  spec/support/vendor/chart.umd.min.js
  spec/support/vendor/chartjs-adapter-date-fns.bundle.min.js
  spec/support/vendor/chartkick.min.js
  spec/system/chart_date_locale_spec.rb
  spec/system/p7_layout_qa_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(specs): wait for the content fade-in, restoring the 4 skipped assertions
  spec/support/system_helpers.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(ui): stop the dashboard scrolling sideways on a phone
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  spec/system/p7_layout_qa_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: refresh counts and roadmap status after v0.10.0
  CLAUDE.md
  README.md
  ROADMAP.md
  _features/source-code-integration.md
  _getting_started/features.md
  _reference/glossary.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/SOURCE_CODE_INTEGRATION.md
Due: trailing-whitespace

docs: refresh counts and roadmap status after v0.10.0 (#185)
  CLAUDE.md
  README.md
  ROADMAP.md
  _features/source-code-integration.md
  _getting_started/features.md
  _reference/glossary.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/SOURCE_CODE_INTEGRATION.md
Due: trailing-whitespace

fix(ui): stop the dashboard scrolling sideways on a phone; system specs go offline (#184)
  .github/workflows/test.yml
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/database_health_summary.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  spec/support/capybara.rb
  spec/support/system_helpers.rb
  spec/support/vendor/README.md
  spec/support/vendor/bootstrap.bundle.min.js
  spec/support/vendor/chart.umd.min.js
  spec/support/vendor/chartjs-adapter-date-fns.bundle.min.js
  spec/support/vendor/chartkick.min.js
  spec/system/chart_date_locale_spec.rb
  spec/system/p7_layout_qa_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: reposition around verified differentiators and correct false competitor claims
  .shipkit/research/evidence-uniqueness/00-red-code-audit.md
  .shipkit/research/evidence-uniqueness/01-deep-introspection.md
  .shipkit/research/evidence-uniqueness/02-runtime-health.md
  .shipkit/research/evidence-uniqueness/03-workflow-output.md
  .shipkit/research/evidence-uniqueness/04-storm-architecture.md
  .shipkit/research/evidence-uniqueness/05-llm-otel-mobile.md
  .shipkit/research/red-unique-features-verified.md
  README.md
  ROADMAP.md
  _config.yml
  _getting_started/documentation.md
  _getting_started/features.md
  _guides/mobile-app-integration.md
  _guides/real-time-updates.md
  docs/FEATURES.md
  docs/README.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/REAL_TIME_UPDATES.md
  rails_error_dashboard.gemspec
Due: trailing-whitespace

docs: finish aligning public wording with the verified uniqueness ledger
  README.md
  ROADMAP.md
  _config.yml
  _features/platform-comparison.md
  _getting_started/documentation.md
  _getting_started/features.md
  _getting_started/quickstart.md
  _guides/configuration.md
  _guides/error-trend-visualizations.md
  _guides/mobile-app-integration.md
  _guides/real-time-updates.md
  _reference/faq.md
  docs/FAQ.md
  docs/FEATURES.md
  docs/LLM_OBSERVABILITY.md
  docs/QUICKSTART.md
  docs/README.md
  docs/features/PLATFORM_COMPARISON.md
  docs/guides/CONFIGURATION.md
  docs/guides/ERROR_TREND_VISUALIZATIONS.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/REAL_TIME_UPDATES.md
  index.md
Due: trailing-whitespace

docs: reposition README and gemspec around Rails-native failure investigation
  .shipkit/research/red-unique-features-verified.md
  README.md
  ROADMAP.md
  _features/advanced-error-grouping.md
  _features/source-code-integration.md
  _getting_started/features.md
  _reference/faq.md
  _reference/glossary.md
  docs/FAQ.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/LLM_OBSERVABILITY.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/features/ADVANCED_ERROR_GROUPING.md
  index.md
  rails_error_dashboard.gemspec
Due: trailing-whitespace

docs(roadmap): add Ruby 4.0 to the CI test matrix as an open item
  ROADMAP.md
Due: trailing-whitespace

docs: reposition public wording around verified differentiators (#189)
  .shipkit/research/evidence-uniqueness/00-red-code-audit.md
  .shipkit/research/evidence-uniqueness/01-deep-introspection.md
  .shipkit/research/evidence-uniqueness/02-runtime-health.md
  .shipkit/research/evidence-uniqueness/03-workflow-output.md
  .shipkit/research/evidence-uniqueness/04-storm-architecture.md
  .shipkit/research/evidence-uniqueness/05-llm-otel-mobile.md
  .shipkit/research/red-unique-features-verified.md
  README.md
  ROADMAP.md
  _config.yml
  _features/advanced-error-grouping.md
  _features/platform-comparison.md
  _features/source-code-integration.md
  _getting_started/documentation.md
  _getting_started/features.md
  _getting_started/quickstart.md
  _guides/configuration.md
  _guides/error-trend-visualizations.md
  _guides/mobile-app-integration.md
  _guides/real-time-updates.md
  _reference/faq.md
  _reference/glossary.md
  docs/FAQ.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/LLM_OBSERVABILITY.md
  docs/QUICKSTART.md
  docs/README.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/features/ADVANCED_ERROR_GROUPING.md
  docs/features/PLATFORM_COMPARISON.md
  docs/guides/CONFIGURATION.md
  docs/guides/ERROR_TREND_VISUALIZATIONS.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/REAL_TIME_UPDATES.md
  index.md
  rails_error_dashboard.gemspec
Due: trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
