Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

feat(otel-export): emit breadcrumb/health/notification child spans
  lib/rails_error_dashboard/services/breadcrumb_collector.rb
  lib/rails_error_dashboard/services/error_notification_dispatcher.rb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/integrations/otel_export_end_to_end_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(otel-export): emit capture_error span from LogError
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/log_error_otel_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(otel-export): Tracer façade for outbound OpenTelemetry spans
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/integrations/tracer.rb
  spec/lib/rails_error_dashboard/integrations/tracer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(otel-export): add OpenTelemetry Export section to README
  README.md
Due: trailing-whitespace

fix(otel-export): align case/end in safe_stringify (RuboCop Layout/EndAlignment)
  lib/rails_error_dashboard/integrations/tracer.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat(otel-export): outbound OpenTelemetry span export (#130)
  README.md
  ROADMAP.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/integrations/tracer.rb
  lib/rails_error_dashboard/services/breadcrumb_collector.rb
  lib/rails_error_dashboard/services/error_notification_dispatcher.rb
  lib/rails_error_dashboard/services/system_health_snapshot.rb
  spec/commands/log_error_otel_spec.rb
  spec/integrations/otel_export_end_to_end_spec.rb
  spec/lib/rails_error_dashboard/integrations/tracer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore(main): release rails_error_dashboard 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat(issue-tracking): add Linear as a fourth issue tracker provider
  README.md
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/create_issue.rb
  lib/rails_error_dashboard/commands/link_existing_issue.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/issue_tracker_client.rb
  lib/rails_error_dashboard/services/linear_issue_client.rb
  spec/commands/link_existing_issue_spec.rb
  spec/requests/linear_webhook_spec.rb
  spec/services/issue_tracker_client_spec.rb
  spec/services/linear_issue_client_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: force sync logging in Phase 10 backtrace system spec
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(issue-tracking): add Linear as a fourth issue tracker provider (#133)
  README.md
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/create_issue.rb
  lib/rails_error_dashboard/commands/link_existing_issue.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/issue_tracker_client.rb
  lib/rails_error_dashboard/services/linear_issue_client.rb
  spec/commands/link_existing_issue_spec.rb
  spec/requests/linear_webhook_spec.rb
  spec/services/issue_tracker_client_spec.rb
  spec/services/linear_issue_client_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(migrations): guard incremental migrations against the squashed schema
  bin/pre-release-test
  db/migrate/20260306000002_add_instance_variables_to_error_logs.rb
  db/migrate/20260306000003_create_rails_error_dashboard_swallowed_exceptions.rb
  db/migrate/20260307000001_create_rails_error_dashboard_diagnostic_dumps.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: add PROJECT_MAP.md (ShipKit grandfather/eve index)
  PROJECT_MAP.md
Due: trailing-whitespace

fix(storm-protection): make events_total an honest count-only total
  db/migrate/20260613000001_create_storm_events.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(storm-protection): don't re-query the storm banner on error pages
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/commands/flush_storm_counts_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(storm-protection): add job/model/query specs + fix batch-abort bug
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  spec/jobs/rails_error_dashboard/storm_flush_job_spec.rb
  spec/jobs/rails_error_dashboard/storm_notification_job_spec.rb
  spec/models/storm_event_spec.rb
  spec/queries/rails_error_dashboard/queries/storm_history_spec.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(storm-protection): config validation, events_total + banner regressions, adversarial cases
  spec/commands/flush_storm_counts_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/requests/storms_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(storm-protection): permanent chaos coverage for async, separate-db, and storm HTTP pages
  bin/pre-release-test
  test/pre_release/chaos/phase_d_http_endpoints.rb
  test/pre_release/chaos/phase_m2_storm_async_stress.rb
  test/pre_release/chaos/phase_m3_storm_separate_db.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs(seo): surface all major capabilities in gemspec + README for discoverability
  README.md
  rails_error_dashboard.gemspec
Due: trailing-whitespace

docs(seo): surface all major capabilities in gemspec + README for discoverability (#138)
  README.md
  rails_error_dashboard.gemspec
Due: trailing-whitespace

fix(rack-attack): persist events independently of error capture (#143)
  _guides/configuration.md
  _guides/customization.md
  _reference/api-reference.md
  _reference/migration-strategy.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/jobs/rails_error_dashboard/rack_attack_flush_job.rb
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/rack_attack_event.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  bin/pre-release-test
  db/migrate/20260730000001_create_rails_error_dashboard_rack_attack_events.rb
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/MIGRATION_STRATEGY.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/flush_rack_attack_events.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/rack_attack_summary.rb
  lib/rails_error_dashboard/services/rack_attack_tracker.rb
  lib/rails_error_dashboard/subscribers/rack_attack_subscriber.rb
  spec/dummy/db/schema.rb
  spec/integration/rack_attack_persistence_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/lib/rails_error_dashboard/queries/rack_attack_summary_spec.rb
  spec/lib/rails_error_dashboard/services/rack_attack_tracker_spec.rb
  spec/requests/rack_attack_summary_spec.rb
  test/pre_release/chaos/phase_n_rack_attack_persistence.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(specs,deps): stop async_logging leaking between specs; unpin concurrent-ruby
  rails_error_dashboard.gemspec
  spec/rails_helper.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(specs): stop system specs depending on live CDN requests
  rails_error_dashboard.gemspec
  spec/support/capybara.rb
  spec/support/modal_helpers.rb
  spec/support/system_helpers.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore(changelog): de-duplicate 0.8.3 entries from merge commits
  CHANGELOG.md
Due: trailing-whitespace

docs: refresh spec count and defer APM from the committed roadmap
  CLAUDE.md
  ROADMAP.md
Due: trailing-whitespace

fix(rack-attack): surface a missing rack-attack gem instead of failing silently
  _getting_started/features.md
  _guides/configuration.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/requests/rack_attack_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(rack-attack): surface a missing rack-attack gem instead of failing silently (#150)
  _getting_started/features.md
  _guides/configuration.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/rack_attack_summary.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  spec/requests/rack_attack_summary_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(dashboard): render pagination in the dashboard's own locale
  _guides/configuration.md
  app/controllers/rails_error_dashboard/application_controller.rb
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  spec/requests/dashboard_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(dashboard): render pagination in the dashboard's own locale (#152)
  _guides/configuration.md
  app/controllers/rails_error_dashboard/application_controller.rb
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard/configuration.rb
  spec/requests/dashboard_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(skills): correct release, demo-update, and release-rules to match reality
  .claude/skills/demo-update/SKILL.md
  .claude/skills/release-rules/SKILL.md
  .claude/skills/release/SKILL.md
Due: trailing-whitespace

feat(i18n): translation foundation, isolated from the host app's I18n
  ROADMAP.md
  _guides/configuration.md
  app/controllers/rails_error_dashboard/application_controller.rb
  app/helpers/rails_error_dashboard/application_helper.rb
  app/helpers/rails_error_dashboard/i18n_helper.rb
  app/mailers/rails_error_dashboard/application_mailer.rb
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/en.yml
  docs/guides/CONFIGURATION.md
  docs/guides/TRANSLATIONS.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/current.rb
  lib/rails_error_dashboard/i18n_store.rb
  spec/helpers/rails_error_dashboard/i18n_helper_spec.rb
  spec/lib/rails_error_dashboard/current_spec.rb
  spec/lib/rails_error_dashboard/i18n_store_spec.rb
  spec/requests/dashboard_locale_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract layout and navigation strings (P2-T1)
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/en.yml
  spec/requests/layout_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract errors index and row strings (P2-T2)
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  config/locales/en.yml
  spec/requests/errors_index_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(migrations): stop db:migrate aborting on Rails 8
  db/migrate/20260325000001_fix_swallowed_exceptions_index_for_mysql.rb
  spec/db/migrations/fix_swallowed_exceptions_index_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(specs): stop the llm breadcrumb duration spec flaking on fast machines
  spec/lib/rails_error_dashboard/integrations/llm_middleware_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract error show and info strings (P2-T3)
  app/views/rails_error_dashboard/errors/_error_info.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  config/locales/en.yml
  spec/requests/errors_show_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract sidebar metadata strings (P2-T4)
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  config/locales/en.yml
  spec/requests/sidebar_metadata_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor(i18n): extract detail partials, part 1 (P2-T7a)
  app/views/rails_error_dashboard/errors/_ai_help_panel.html.erb
  app/views/rails_error_dashboard/errors/_instance_variables.html.erb
  app/views/rails_error_dashboard/errors/_local_variables.html.erb
  app/views/rails_error_dashboard/errors/_request_context.html.erb
  app/views/rails_error_dashboard/errors/_similar_errors.html.erb
  app/views/rails_error_dashboard/errors/_source_code.html.erb
  config/locales/en.yml
  spec/requests/detail_partials_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
