Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

refactor: review follow-ups for the health, signing and translation work
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/jobs/rails_error_dashboard/baseline_alert_job.rb
  app/jobs/rails_error_dashboard/concerns/plain_channel_message.rb
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/missing_translation.rb
  app/views/rails_error_dashboard/errors/missing_translations.html.erb
  lib/rails_error_dashboard/commands/flush_missing_translations.rb
  lib/rails_error_dashboard/queries/missing_translation_summary.rb
  lib/rails_error_dashboard/services/missing_translation_tracker.rb
  spec/integration/missing_translation_persistence_spec.rb
  spec/jobs/rails_error_dashboard/retention_cleanup_job_spec.rb
  spec/lib/rails_error_dashboard/commands/flush_missing_translations_spec.rb
  spec/lib/rails_error_dashboard/services/missing_translation_tracker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: say what the at_exit drain of missing translations actually covers
  _getting_started/features.md
  docs/FEATURES.md
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/missing_translation_tracker.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: count view-helper translation misses on Rails before 8.1
  _getting_started/features.md
  docs/FEATURES.md
  lib/rails_error_dashboard/services/missing_translation_handler.rb
  spec/lib/rails_error_dashboard/services/missing_translation_handler_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: walk the stack lazily when a missing translation is first seen
  ROADMAP.md
  lib/rails_error_dashboard/services/missing_translation_tracker.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: probe the app's ActiveStorage service for reachability (roadmap U)
  README.md
  ROADMAP.md
  _guides/configuration.md
  _reference/api-reference.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/activestorage_health_summary.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  docs/API_REFERENCE.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/health_status.rb
  lib/rails_error_dashboard/services/active_storage_probe.rb
  spec/dummy/config/application.rb
  spec/dummy/config/storage.yml
  spec/lib/rails_error_dashboard/queries/health_status_spec.rb
  spec/lib/rails_error_dashboard/services/active_storage_probe_spec.rb
  spec/requests/activestorage_probe_card_spec.rb
  spec/requests/health_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: capture boot crashes and list them on a Boot Errors page (roadmap T)
  README.md
  ROADMAP.md
  _getting_started/features.md
  _guides/configuration.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/boot_errors.html.erb
  bin/pre-release-test
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  config/routes.rb
  docs/FEATURES.md
  docs/guides/CONFIGURATION.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/queries/boot_errors.rb
  lib/rails_error_dashboard/services/crash_capture.rb
  lib/rails_error_dashboard/services/severity_classifier.rb
  spec/lib/rails_error_dashboard/engine_initializer_order_spec.rb
  spec/lib/rails_error_dashboard/queries/boot_errors_spec.rb
  spec/requests/boot_errors_spec.rb
  spec/services/crash_capture_boot_spec.rb
  test/pre_release/chaos/phase_o_boot_errors.rb
  test/pre_release/templates/full_sync_initializer.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci: run the test matrix on Ruby 4.0 as well (roadmap 15a)
  .github/workflows/test.yml
Due: trailing-whitespace

ci: put rdoc in the dev bundle so the gemspec spec loads on Ruby 4.0
  Gemfile
  README.md
  ROADMAP.md
Due: trailing-whitespace

fix: show every credential on the settings page only as Set / Not set
  _guides/settings.md
  app/views/rails_error_dashboard/errors/settings.html.erb
  docs/guides/SETTINGS.md
  spec/requests/settings_secrets_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
