Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

rubocop-staged:
  run: bundle exec rubocop {staged_files}

rspec-changed:
  run: "if [ -n \"{staged_files}\" ]; then\n  echo \"üß™ Running tests for changed specs...\"\n  COVERAGE=false bundle exec rspec {staged_files}\nfi\n"

no-debuggers:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"binding\\.pry\\|byebug\\|debugger\" 2>/dev/null; then\n  echo \"‚ùå Found debugger statement! Remove before committing.\"\n  exit 1\nfi\n"

trailing-whitespace:
  run: "if echo \"{staged_files}\" | xargs grep -Hn \"[[:space:]]$\" 2>/dev/null; then\n  echo \"‚ùå Found trailing whitespace! Run: bundle exec rubocop -A\"\n  exit 1\nfi\n"

fix: stop a migration replay from wiping every error's environment
  db/migrate/20251225074653_remove_environment_from_error_logs.rb
  spec/migrations/remove_environment_from_error_logs_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: match Class objects in ignored_exceptions
  lib/rails_error_dashboard/services/exception_filter.rb
  spec/lib/rails_error_dashboard/services/exception_filter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: define every hook PluginRegistry dispatches on the base Plugin
  lib/rails_error_dashboard/plugin.rb
  spec/lib/rails_error_dashboard/plugin_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: let the rake confirmation prompts survive a closed stdin
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/task_confirmation_prompt_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: redact secrets from Configuration#inspect
  lib/rails_error_dashboard/configuration.rb
  spec/lib/rails_error_dashboard/configuration_inspect_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: pick the search SQL from RED's own database connection
  lib/rails_error_dashboard/queries/errors_list.rb
  spec/queries/rails_error_dashboard/queries/errors_list_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: honour rate_limit_per_minute, defaulting to 300
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/middleware/rate_limiter.rb
  spec/lib/rails_error_dashboard/middleware/rate_limiter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: filter baseline alerts by the error's severity
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  spec/commands/wont_fix_sticky_spec.rb
  spec/lib/rails_error_dashboard/commands/log_error_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: fail verify when the error database has no database.yml entry
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/engine.rb
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/verify_task_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: warn when Solid Queue would never run RED's jobs
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/services/solid_queue_config_check.rb
  spec/requests/solid_queue_banner_spec.rb
  spec/services/solid_queue_config_check_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: make the installer's advanced-options question reachable
  _getting_started/quickstart.md
  docs/QUICKSTART.md
  lib/generators/rails_error_dashboard/install/install_generator.rb
  spec/generators/install_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: correct the installer and uninstaller messages
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/generators/rails_error_dashboard/uninstall/uninstall_generator.rb
  spec/generators/install_generator_spec.rb
  spec/generators/uninstall_generator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci: test json 3 on Rails 7.2 and 8.1
  Gemfile
  bin/full-integration-test
Due: none

fix: warn in verify when json 3 runs on a Rails it breaks
  lib/tasks/error_dashboard.rake
  spec/lib/rails_error_dashboard/verify_task_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test: reset the configuration after the Solid Queue banner spec
  spec/requests/solid_queue_banner_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

ci: hold the json 3 rows to the Rails releases that support it
  Gemfile
Due: none

docs: fix the configuration and operations guides, add a production checklist (#268)
  CLAUDE.md
  README.md
  _features/multi-app-performance.md
  _getting_started/documentation.md
  _getting_started/production.md
  _getting_started/quickstart.md
  _guides/backtrace-limiting.md
  _guides/configuration.md
  _guides/customization.md
  _guides/database-optimization.md
  _guides/database-options.md
  _guides/solid-queue-setup.md
  _reference/troubleshooting.md
  docs/CUSTOMIZATION.md
  docs/MULTI_APP_PERFORMANCE.md
  docs/PRODUCTION.md
  docs/QUICKSTART.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/guides/BACKTRACE_LIMITING.md
  docs/guides/CONFIGURATION.md
  docs/guides/DATABASE_OPTIMIZATION.md
  docs/guides/DATABASE_OPTIONS.md
  docs/guides/SOLID_QUEUE_SETUP.md
Due: trailing-whitespace

fix: stop a migration replay from wiping every error's environment (#269)
  db/migrate/20251225074653_remove_environment_from_error_logs.rb
  spec/migrations/remove_environment_from_error_logs_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: describe what 0.14.4 changes
  _getting_started/production.md
  _getting_started/upgrading.md
  _guides/configuration.md
  _guides/database-options.md
  _guides/solid-queue-setup.md
  _reference/faq.md
  _reference/troubleshooting.md
  docs/FAQ.md
  docs/PRODUCTION.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
  docs/guides/CONFIGURATION.md
  docs/guides/DATABASE_OPTIONS.md
  docs/guides/SOLID_QUEUE_SETUP.md
Due: trailing-whitespace

docs: write the 0.14.4 release notes
  CHANGELOG.md
Due: trailing-whitespace

docs: rewrite API_REFERENCE as the dashboard's real routes and Ruby API
  README.md
  _getting_started/documentation.md
  _guides/customization.md
  _reference/api-reference.md
  _reference/glossary.md
  _reference/troubleshooting.md
  docs/API_REFERENCE.md
  docs/CUSTOMIZATION.md
  docs/GLOSSARY.md
  docs/README.md
  docs/TROUBLESHOOTING.md
Due: trailing-whitespace

docs: describe batch operations as the toolbar and commands really work
  _guides/batch-operations.md
  docs/guides/BATCH_OPERATIONS.md
Due: trailing-whitespace

docs: describe the Settings page as it is rendered
  _guides/settings.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

docs: trim SOURCE_CODE_INTEGRATION to a verified reference
  _features/source-code-integration.md
  docs/SOURCE_CODE_INTEGRATION.md
Due: trailing-whitespace

docs: document all eleven plugin hooks and fix the plugin examples
  _features/plugin-system.md
  docs/PLUGIN_SYSTEM.md
Due: trailing-whitespace

docs: give the mobile guide an endpoint that works
  _guides/mobile-app-integration.md
  _reference/faq.md
  docs/FAQ.md
  docs/guides/MOBILE_APP_INTEGRATION.md
Due: trailing-whitespace

docs: fix wrong API calls on README and three feature pages
  README.md
  _features/advanced-error-grouping.md
  _features/occurrence-patterns.md
  _features/platform-comparison.md
  docs/features/ADVANCED_ERROR_GROUPING.md
  docs/features/OCCURRENCE_PATTERNS.md
  docs/features/PLATFORM_COMPARISON.md
Due: trailing-whitespace

docs: link UPGRADING's 0.14.4 row to its CHANGELOG section
  _getting_started/upgrading.md
  docs/UPGRADING.md
Due: trailing-whitespace

docs: fix the claims a fact-check of this branch found
  _features/plugin-system.md
  _features/source-code-integration.md
  _guides/batch-operations.md
  _guides/mobile-app-integration.md
  _guides/settings.md
  _reference/api-reference.md
  docs/API_REFERENCE.md
  docs/PLUGIN_SYSTEM.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/guides/BATCH_OPERATIONS.md
  docs/guides/MOBILE_APP_INTEGRATION.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

docs: bring older pages in line with what this branch documents
  README.md
  _features/advanced-error-grouping.md
  _features/occurrence-patterns.md
  _getting_started/features.md
  _getting_started/upgrading.md
  _reference/faq.md
  _reference/glossary.md
  _reference/troubleshooting.md
  docs/FAQ.md
  docs/FEATURES.md
  docs/GLOSSARY.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
  docs/features/ADVANCED_ERROR_GROUPING.md
  docs/features/OCCURRENCE_PATTERNS.md
  docs/guides/NOTIFICATIONS.md
Due: trailing-whitespace

docs: run cascade detection on windows that don't overlap
  _features/advanced-error-grouping.md
  _reference/api-reference.md
  docs/API_REFERENCE.md
  docs/features/ADVANCED_ERROR_GROUPING.md
Due: trailing-whitespace

docs: make the mobile guide's samples deliver every error
  _guides/mobile-app-integration.md
  docs/guides/MOBILE_APP_INTEGRATION.md
Due: trailing-whitespace

docs: fix the plugin examples' Jira, StatsD and RSpec code
  _features/plugin-system.md
  docs/PLUGIN_SYSTEM.md
Due: trailing-whitespace

docs: read bursts from occurrences, and pass ids as a subquery
  _features/occurrence-patterns.md
  docs/features/OCCURRENCE_PATTERNS.md
Due: trailing-whitespace

docs: correct the 404 row, the Settings email row and two snippets
  _features/source-code-integration.md
  _guides/settings.md
  _reference/api-reference.md
  docs/API_REFERENCE.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

feat: sign outbound webhooks with HMAC-SHA256 (roadmap 20)
  README.md
  ROADMAP.md
  _guides/configuration.md
  _guides/notifications.md
  app/jobs/rails_error_dashboard/baseline_alert_job.rb
  app/jobs/rails_error_dashboard/concerns/plain_channel_message.rb
  app/jobs/rails_error_dashboard/webhook_error_notification_job.rb
  app/views/rails_error_dashboard/errors/settings.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  docs/guides/CONFIGURATION.md
  docs/guides/NOTIFICATIONS.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/services/webhook_delivery.rb
  lib/rails_error_dashboard/services/webhook_signer.rb
  spec/jobs/rails_error_dashboard/baseline_alert_job_spec.rb
  spec/jobs/rails_error_dashboard/storm_notification_job_spec.rb
  spec/jobs/rails_error_dashboard/webhook_error_notification_job_spec.rb
  spec/lib/rails_error_dashboard/configuration_inspect_spec.rb
  spec/lib/rails_error_dashboard/services/webhook_delivery_spec.rb
  spec/lib/rails_error_dashboard/services/webhook_signer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat: add GET /health, a JSON check that the dashboard can still do its job (roadmap 14)
  README.md
  ROADMAP.md
  _reference/api-reference.md
  app/controllers/rails_error_dashboard/health_controller.rb
  config/routes.rb
  docs/API_REFERENCE.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/health_status.rb
  spec/lib/rails_error_dashboard/queries/health_status_spec.rb
  spec/requests/health_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: keep the query string of Slack, Discord and PagerDuty webhook URLs
  app/jobs/rails_error_dashboard/discord_error_notification_job.rb
  app/jobs/rails_error_dashboard/pagerduty_error_notification_job.rb
  app/jobs/rails_error_dashboard/slack_error_notification_job.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}
