Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

test(upgrade): assert the fingerprint regrouping instead of contradicting it
  test/pre_release/chaos/phase_j_upgrade_verification.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

test(storm): assert the drain on the job class's own queue
  spec/services/storm_protection/gate_drain_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs(changelog): write the 0.12.0 release notes and release as a minor
  CHANGELOG.md
Due: trailing-whitespace

docs(changelog): write the 0.12.0 release notes and release as a minor (#217)
  CHANGELOG.md
Due: trailing-whitespace

docs(changelog): drop the dangling #218 reference from the 0.12.0 entry
  CHANGELOG.md
Due: trailing-whitespace

fix(analytics): count events, not groups, on the Analytics page
  app/views/rails_error_dashboard/errors/analytics.html.erb
  lib/rails_error_dashboard/queries/analytics_stats.rb
  spec/queries/analytics_page_counting_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(analytics): count events, not groups, on the Analytics page (#218)
  app/views/rails_error_dashboard/errors/analytics.html.erb
  lib/rails_error_dashboard/queries/analytics_stats.rb
  spec/queries/analytics_page_counting_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(chaos): stop J7/J8 pinning a one-time regrouping as permanent
  test/pre_release/chaos/phase_j_upgrade_verification.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(chaos): stop J7/J8 pinning a one-time regrouping as permanent (#220)
  test/pre_release/chaos/phase_j_upgrade_verification.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(ci): make the post-release smoke test actually run
  .github/workflows/release.yml
  .github/workflows/smoke-test-demo.yml
Due: trailing-whitespace

fix(ci): make the post-release smoke test actually run (#221)
  .github/workflows/release.yml
  .github/workflows/smoke-test-demo.yml
Due: trailing-whitespace

fix(security): reject non-http(s) URLs when linking an issue
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/link_existing_issue.rb
  lib/rails_error_dashboard/services/url_safety.rb
  spec/commands/link_existing_issue_spec.rb
  spec/requests/flash_i18n_spec.rb
  spec/services/url_safety_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): render stored and third-party URLs only when they are http(s)
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_discussion.html.erb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  app/views/rails_error_dashboard/errors/_sidebar_metadata.html.erb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/helpers/application_helper_spec.rb
  spec/requests/issue_link_safety_spec.rb
  spec/requests/sidebar_metadata_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): answer 401, not 500, for a malformed Basic auth header
  app/controllers/rails_error_dashboard/application_controller.rb
  spec/requests/dashboard_authentication_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): stop the catch-all turning client errors into 500s
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  spec/requests/error_handling_status_codes_spec.rb
  spec/requests/locale_picker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(workflow): report the result of a status change
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/models/rails_error_dashboard/error_log.rb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  lib/rails_error_dashboard/commands/update_error_status.rb
  spec/commands/update_error_status_spec.rb
  spec/requests/flash_i18n_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): store a keyed digest of the session ID, not the raw ID
  app/models/rails_error_dashboard/error_occurrence.rb
  docs/FEATURES.md
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/sensitive_data_filter.rb
  lib/tasks/error_dashboard.rake
  spec/commands/log_error_session_digest_spec.rb
  spec/lib/rails_error_dashboard/error_reporter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): advance the circuit breaker by elapsed time, not only by events
  lib/rails_error_dashboard/services/storm_protection/circuit_breaker.rb
  spec/services/storm_protection/circuit_breaker_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(capture): add EncodingSanitizer to neutralise invalid bytes
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/encoding_sanitizer.rb
  spec/services/encoding_sanitizer_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(capture): add a query-budget guard for the capture path
  spec/integration/capture_query_budget_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(workflow): validate snooze hours, priority level and assignee
  app/controllers/rails_error_dashboard/errors_controller.rb
  config/locales/de.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/pl.yml
  config/locales/pt-BR.yml
  config/locales/ru.yml
  config/locales/uk.yml
  config/locales/zh-CN.yml
  lib/rails_error_dashboard/commands/assign_error.rb
  lib/rails_error_dashboard/commands/snooze_error.rb
  lib/rails_error_dashboard/commands/update_error_priority.rb
  spec/commands/assign_error_spec.rb
  spec/commands/snooze_error_spec.rb
  spec/commands/update_error_priority_spec.rb
  spec/lib/rails_error_dashboard/commands/workflow_commands_spec.rb
  spec/requests/flash_i18n_spec.rb
  test/pre_release/chaos/phase_a_data_integrity.rb
  test/pre_release/chaos/phase_b_edge_cases.rb
  test/pre_release/chaos/phase_d_http_endpoints.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): validate forge label colours before they reach style=
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/_issue_section.html.erb
  spec/helpers/application_helper_spec.rb
  spec/requests/issue_link_safety_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): tick the breaker at the end of every request and job
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/commands/log_error_storm_spec.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(search): match % and _ literally in the non-PostgreSQL search
  lib/rails_error_dashboard/queries/errors_list.rb
  lib/rails_error_dashboard/queries/similar_errors.rb
  spec/queries/rails_error_dashboard/queries/errors_list_spec.rb
  spec/queries/similar_errors_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): inline chart JSON through js_safe_json at all 14 sites
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  spec/requests/json_in_script_safety_spec.rb
  spec/views/no_raw_json_in_views_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(storm): probe with the first half-open event, not the tenth
  lib/rails_error_dashboard/services/storm_protection/circuit_breaker.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  spec/services/storm_protection/gate_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(pagination): recover from an out-of-range page with 303, not 301
  app/controllers/rails_error_dashboard/application_controller.rb
  spec/requests/pagy_out_of_range_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

perf(cache): invalidate dashboard stats by generation, not per capture
  _guides/real-time-updates.md
  app/controllers/rails_error_dashboard/webhooks_controller.rb
  app/jobs/rails_error_dashboard/retention_cleanup_job.rb
  app/models/rails_error_dashboard/error_log.rb
  docs/guides/REAL_TIME_UPDATES.md
  lib/rails_error_dashboard/commands/backfill_environments.rb
  lib/rails_error_dashboard/commands/batch_delete_errors.rb
  lib/rails_error_dashboard/commands/batch_mute_errors.rb
  lib/rails_error_dashboard/commands/batch_resolve_errors.rb
  lib/rails_error_dashboard/commands/batch_unmute_errors.rb
  lib/rails_error_dashboard/commands/mute_error.rb
  lib/rails_error_dashboard/commands/resolve_error.rb
  lib/rails_error_dashboard/commands/unmute_error.rb
  lib/rails_error_dashboard/commands/update_error_status.rb
  lib/rails_error_dashboard/queries/analytics_stats.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/services/analytics_cache_manager.rb
  lib/tasks/error_dashboard.rake
  spec/integration/capture_query_budget_spec.rb
  spec/lib/rails_error_dashboard/services/analytics_cache_manager_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(capture): store errors that contain invalid bytes instead of losing them
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/backtrace_processor.rb
  lib/rails_error_dashboard/services/cause_chain_extractor.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  lib/rails_error_dashboard/services/storm_protection/gate.rb
  lib/rails_error_dashboard/value_objects/error_context.rb
  spec/commands/log_error_encoding_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(security): cap per_page at 100 on every paginated page
  app/controllers/rails_error_dashboard/application_controller.rb
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/requests/pagy_out_of_range_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(baselines): no anomaly for a flat history; half-open sigma bands
  app/models/rails_error_dashboard/error_baseline.rb
  spec/models/error_baseline_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

perf(broadcast): throttle the stats broadcast and pause it during a storm
  lib/rails_error_dashboard/services/error_broadcaster.rb
  spec/integration/capture_query_budget_spec.rb
  spec/lib/rails_error_dashboard/services/error_broadcaster_spec.rb
  spec/rails_helper.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(ui): take release and dump summary cards from the full result set
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/rails_error_dashboard/errors/diagnostic_dumps.html.erb
  app/views/rails_error_dashboard/errors/releases.html.erb
  spec/requests/diagnostic_dumps_spec.rb
  spec/requests/releases_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

test(chaos): assert the hardened request handling in production mode
  test/pre_release/chaos/phase_d_http_endpoints.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix(capture): scrub the secondary writers and add a repair task
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/flush_rack_attack_events.rb
  lib/rails_error_dashboard/commands/flush_storm_counts.rb
  lib/rails_error_dashboard/commands/flush_swallowed_exceptions.rb
  lib/rails_error_dashboard/commands/scrub_invalid_encoding.rb
  lib/rails_error_dashboard/services/diagnostic_dump_generator.rb
  lib/tasks/error_dashboard.rake
  spec/commands/scrub_invalid_encoding_spec.rb
  spec/commands/secondary_writers_encoding_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

feat(db): add last_notified_at to error logs
  db/migrate/20260917000001_add_last_notified_at_to_error_logs.rb
  spec/db/migrations/add_last_notified_at_spec.rb
  spec/dummy/db/schema.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

perf(stats): bound spike detection to three queries, memoise per call
  lib/rails_error_dashboard/queries/baseline_stats.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  spec/integration/capture_query_budget_spec.rb
  spec/queries/dashboard_stats_spike_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(ui): ignore a nested application_id instead of answering 500
  app/controllers/rails_error_dashboard/errors_controller.rb
  spec/requests/nested_application_id_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix(ui): make the top-bar search box actually search
  app/views/layouts/rails_error_dashboard.html.erb
  spec/requests/global_search_spec.rb
  spec/system/global_search_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
