Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

Path conditions:
  rubocop-changed: any of: *.rb
  no-debuggers: any of: *.rb
  ruby-syntax: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,md,js}

fix: resolve 30 test failures - logging and database issues
  app/models/rails_error_dashboard/error_comment.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/commands/rails_error_dashboard/commands/batch_delete_errors_spec.rb
  spec/commands/rails_error_dashboard/commands/batch_resolve_errors_spec.rb
  spec/dummy/db/migrate/20251226020100_create_error_comments.rb
  spec/dummy/db/schema.rb
  spec/lib/rails_error_dashboard/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard_spec.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: resolve final 8 generator test failures - Thor option parsing
  spec/generators/install_generator_spec.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

chore: clean up codebase - remove unused files and improve organization
  .gitignore
  docs/development/MANUAL_TESTING.md
  lib/tasks/rails_error_dashboard_tasks.rake
Due: trailing-whitespace

fix: populate git_sha and app_version in LogError command
  CONTRIBUTING.md
  lib/rails_error_dashboard/commands/log_error.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: add missing workflow routes (assign, snooze, add_comment, etc)
  config/routes.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

chore: bump version to 0.1.3
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: dynamic chart colors for light/dark theme compatibility
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
Due: none

Complete Phase 3 analytics features and add navigation improvements
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/application_helper.rb
  app/models/rails_error_dashboard/error_log.rb
  app/views/layouts/rails_error_dashboard/application.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  config/routes.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/errors_list.rb
  lib/rails_error_dashboard/queries/mttr_stats.rb
  lib/rails_error_dashboard/queries/recurring_issues.rb
  rails_error_dashboard.gemspec
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: flaky pattern detector test - freeze to weekday to avoid weekend detection
  spec/lib/rails_error_dashboard/services/pattern_detector_spec.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: eliminate all flaky tests by disabling async_logging in synchronous specs
  spec/commands/log_error_spec.rb
  spec/lib/rails_error_dashboard/commands/backtrace_limiting_spec.rb
  spec/lib/rails_error_dashboard/instrumentation_spec.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

refactor: optimize lefthook to run only changed specs on pre-commit
  lefthook.yml
Due: trailing-whitespace

feat: add Settings page and enhance navigation with deep links
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  config/routes.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

chore: bump version to 0.1.5
  .release-please-manifest.json
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: require pagy bootstrap extras in gem
  lib/rails_error_dashboard.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

chore: bump version to 0.1.6
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

docs: add live demo link to README
  README.md
Due: trailing-whitespace

docs: add smoke tests to README
  README.md
Due: trailing-whitespace

docs: enhance API documentation with comprehensive HTTP API reference
  docs/API_REFERENCE.md
Due: trailing-whitespace

docs: update roadmap with completed performance improvements
  IMPROVEMENTS_ROADMAP.md
Due: trailing-whitespace

docs: add missing CHANGELOG entries for v0.1.6 and unreleased changes
  CHANGELOG.md
Due: trailing-whitespace

chore: standardize default credentials to gandalf/youshallnotpass
  CHANGELOG.md
  README.md
  lib/rails_error_dashboard/version.rb
  rails_error_dashboard.gemspec
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

feat: add comprehensive orphaned migrations cleanup
  db/migrate/20251230075315_cleanup_orphaned_migrations.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

Fix: Handle Hash objects in similar_errors cache key
  CHANGELOG.md
  app/views/rails_error_dashboard/errors/show.html.erb
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

docs: Move internal documentation to knowledge base
  COMPARISON_WITH_SOLID_ERRORS.md
  GIT_TRACKING_IMPLEMENTATION_SUMMARY.md
  IMPROVEMENTS_ROADMAP.md
  index.md
Due: trailing-whitespace

feat: add dynamic browser tab titles to all pages
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/analytics.html.erb
  app/views/rails_error_dashboard/errors/correlation.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/overview.html.erb
  app/views/rails_error_dashboard/errors/platform_comparison.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

feat: add copy-to-clipboard buttons for error details
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

feat: add success toast notifications for user feedback
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

fix: make cache clearing compatible with SolidCache
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

feat: add clickable git commit links
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
  lefthook.yml
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

docs: add changelog entries for v0.1.13 and v0.1.14
  CHANGELOG.md
Due: trailing-whitespace

feat: upgrade keyboard shortcuts from alert to Bootstrap modal
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

feat: add error count badge to browser tab title
  app/views/rails_error_dashboard/errors/index.html.erb
Due: none

feat: make first_seen_at clickable to jump to timeline
  app/views/rails_error_dashboard/errors/_timeline.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

feat: add shareable URL copy button to error detail page
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

feat: add JSON export button to error detail page
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: handle missing root route in host application gracefully
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

fix: use correct column name resolved_by_name in JSON export
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

chore: bump version to 0.1.15
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace

fix: improve platform chart colors for better accessibility
  app/views/rails_error_dashboard/errors/analytics.html.erb
Due: none

fix: Correct file permissions to resolve Railway deployment error (v0.1.19)
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-changed, no-debuggers, ruby-syntax, trailing-whitespace
