Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

docs: comprehensive documentation improvements and accuracy fixes
  docs/FEATURES.md
  docs/QUICKSTART.md
  docs/README.md
  docs/SOURCE_CODE_INTEGRATION.md
  docs/TROUBLESHOOTING.md
  docs/guides/CONFIGURATION.md
Due: trailing-whitespace

fix: delete SQLite databases before migrations to prevent schema.rb conflicts
  .github/workflows/test.yml
Due: trailing-whitespace

fix: add guard clauses to incremental migrations to prevent conflicts with squashed migration
  spec/dummy/db/migrate/20251224000001_create_rails_error_dashboard_error_logs.rb
  spec/dummy/db/migrate/20251224081522_add_better_tracking_to_error_logs.rb
  spec/dummy/db/migrate/20251224101217_add_controller_action_to_error_logs.rb
  spec/dummy/db/migrate/20251225071314_add_optimized_indexes_to_error_logs.rb
  spec/dummy/db/migrate/20251225074653_remove_environment_from_error_logs.rb
  spec/dummy/db/migrate/20251226020100_create_error_comments.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: change all migration versions to 7.0 for cross-version compatibility
  spec/dummy/db/migrate/20251224081522_add_better_tracking_to_error_logs.rb
  spec/dummy/db/migrate/20251224101217_add_controller_action_to_error_logs.rb
  spec/dummy/db/migrate/20251225071314_add_optimized_indexes_to_error_logs.rb
  spec/dummy/db/migrate/20251225074653_remove_environment_from_error_logs.rb
  spec/dummy/db/migrate/20251226020100_create_error_comments.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: critical bug - Application model must inherit from ErrorLogsRecord
  app/models/rails_error_dashboard/application.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: update CHANGELOG and add comprehensive test results for v0.1.29
  CHANGELOG.md
  TEST_RESULTS_v0.1.29.md
Due: trailing-whitespace

feat: add collapsible sidebar with toggle button and keyboard shortcut
  app/views/layouts/rails_error_dashboard.html.erb
  public/rails_error_dashboard/css/dashboard.css
  public/rails_error_dashboard/js/sidebar-toggle.js
Due: trailing-whitespace

feat: intelligent auto-detection for user model, app name, and database config
  CHANGELOG.md
  MANUAL_INSTALL_TEST_RESULTS.md
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/settings/_value_badge.html.erb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/helpers/user_model_detector.rb
  spec/helpers/user_model_detector_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: improve color contrast in settings page for better readability
  app/views/rails_error_dashboard/errors/settings.html.erb
  app/views/rails_error_dashboard/errors/settings/_value_badge.html.erb
Due: none

chore: release v0.1.30 - enhanced overview dashboard and better defaults
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: add demo URL to gem description for visibility
  rails_error_dashboard.gemspec
Due: none

chore: bump version to 0.1.31 for updated gem description
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: remove unsupported demo_uri metadata key
  rails_error_dashboard.gemspec
Due: none

fix: add index.md for GitHub Pages homepage
  index.md
Due: trailing-whitespace

fix: replace invalid Thor :light_black color with :white in generators
  lib/generators/rails_error_dashboard/install/install_generator.rb
  lib/generators/rails_error_dashboard/uninstall/uninstall_generator.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: bump version to 0.1.34
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: update CHANGELOG with v0.1.31-v0.1.34 entries
  CHANGELOG.md
Due: trailing-whitespace

fix: inline CSS/JS in layout for production compatibility
  CHANGELOG.md
  app/views/layouts/rails_error_dashboard.html.erb
  lib/rails_error_dashboard/engine.rb
  lib/rails_error_dashboard/version.rb
  public/rails_error_dashboard/css/dashboard.css
  public/rails_error_dashboard/js/sidebar-toggle.js
  public/rails_error_dashboard/js/syntax-highlighting.js
  public/rails_error_dashboard/js/theme-toggle.js
  public/rails_error_dashboard/js/utilities.js
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: resolve NoMethodError on overview and error detail pages
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/rails_error_dashboard/errors/overview.html.erb
  spec/factories/users.rb
  spec/helpers/application_helper_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

chore: bump version to 0.1.36
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

refactor: CQRS phases 1-2 with system tests and CI improvements
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/add_error_comment.rb
  lib/rails_error_dashboard/commands/assign_error.rb
  lib/rails_error_dashboard/commands/snooze_error.rb
  lib/rails_error_dashboard/commands/unassign_error.rb
  lib/rails_error_dashboard/commands/unsnooze_error.rb
  lib/rails_error_dashboard/commands/update_error_priority.rb
  lib/rails_error_dashboard/commands/update_error_status.rb
  lib/rails_error_dashboard/queries/critical_alerts.rb
  lib/rails_error_dashboard/queries/filter_options.rb
  rails_error_dashboard.gemspec
  spec/commands/add_error_comment_spec.rb
  spec/commands/assign_error_spec.rb
  spec/commands/snooze_error_spec.rb
  spec/commands/unassign_error_spec.rb
  spec/commands/unsnooze_error_spec.rb
  spec/commands/update_error_priority_spec.rb
  spec/commands/update_error_status_spec.rb
  spec/dummy/db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  spec/queries/rails_error_dashboard/queries/critical_alerts_spec.rb
  spec/queries/rails_error_dashboard/queries/filter_options_spec.rb
  spec/support/capybara.rb
  spec/support/database_cleaner.rb
  spec/support/modal_helpers.rb
  spec/support/system_helpers.rb
  spec/system/error_workflow_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 3 — make services pure algorithms
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/queries/analytics_stats.rb
  lib/rails_error_dashboard/queries/recurring_issues.rb
  lib/rails_error_dashboard/services/baseline_calculator.rb
  lib/rails_error_dashboard/services/pattern_detector.rb
  spec/lib/rails_error_dashboard/services/pattern_detector_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 4 — move model write methods into Commands
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/commands/assign_error.rb
  lib/rails_error_dashboard/commands/snooze_error.rb
  lib/rails_error_dashboard/commands/unassign_error.rb
  lib/rails_error_dashboard/commands/unsnooze_error.rb
  lib/rails_error_dashboard/commands/update_error_status.rb
  spec/lib/rails_error_dashboard/commands/workflow_commands_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 5 — extract query algorithms to Services
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/queries/error_correlation.rb
  lib/rails_error_dashboard/services/pearson_correlation.rb
  lib/rails_error_dashboard/services/statistical_classifier.rb
  spec/lib/rails_error_dashboard/services/pearson_correlation_spec.rb
  spec/lib/rails_error_dashboard/services/statistical_classifier_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 6 — extract 3 services from LogError god-command
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  lib/rails_error_dashboard/services/error_notification_dispatcher.rb
  lib/rails_error_dashboard/services/exception_filter.rb
  spec/lib/rails_error_dashboard/services/error_hash_generator_spec.rb
  spec/lib/rails_error_dashboard/services/error_notification_dispatcher_spec.rb
  spec/lib/rails_error_dashboard/services/exception_filter_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 7 — extract notification payload builders from jobs
  app/jobs/rails_error_dashboard/baseline_alert_job.rb
  app/jobs/rails_error_dashboard/discord_error_notification_job.rb
  app/jobs/rails_error_dashboard/pagerduty_error_notification_job.rb
  app/jobs/rails_error_dashboard/slack_error_notification_job.rb
  app/jobs/rails_error_dashboard/webhook_error_notification_job.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/baseline_alert_payload_builder.rb
  lib/rails_error_dashboard/services/discord_payload_builder.rb
  lib/rails_error_dashboard/services/notification_helpers.rb
  lib/rails_error_dashboard/services/pagerduty_payload_builder.rb
  lib/rails_error_dashboard/services/slack_payload_builder.rb
  lib/rails_error_dashboard/services/webhook_payload_builder.rb
  spec/jobs/rails_error_dashboard/baseline_alert_job_spec.rb
  spec/jobs/rails_error_dashboard/discord_error_notification_job_spec.rb
  spec/jobs/rails_error_dashboard/slack_error_notification_job_spec.rb
  spec/lib/rails_error_dashboard/services/baseline_alert_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/discord_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/notification_helpers_spec.rb
  spec/lib/rails_error_dashboard/services/pagerduty_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/slack_payload_builder_spec.rb
  spec/lib/rails_error_dashboard/services/webhook_payload_builder_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 8 — thin CascadePattern model to Commands
  app/models/rails_error_dashboard/cascade_pattern.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/calculate_cascade_probability.rb
  lib/rails_error_dashboard/commands/increment_cascade_detection.rb
  spec/lib/rails_error_dashboard/commands/cascade_commands_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 9 — extract FindOrIncrementError and FindOrCreateApplication commands
  app/models/rails_error_dashboard/application.rb
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/find_or_create_application.rb
  lib/rails_error_dashboard/commands/find_or_increment_error.rb
  spec/lib/rails_error_dashboard/commands/find_or_create_application_spec.rb
  spec/lib/rails_error_dashboard/commands/find_or_increment_error_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 10 — extract BacktraceProcessor service from LogError
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/services/backtrace_processor.rb
  spec/lib/rails_error_dashboard/services/backtrace_processor_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 11 — extract CascadeDetector writes to UpsertCascadePattern command
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/upsert_cascade_pattern.rb
  lib/rails_error_dashboard/services/cascade_detector.rb
  spec/lib/rails_error_dashboard/commands/upsert_cascade_pattern_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 12 — extract BaselineCalculator writes to UpsertBaseline command
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/commands/upsert_baseline.rb
  lib/rails_error_dashboard/services/baseline_calculator.rb
  spec/lib/rails_error_dashboard/commands/upsert_baseline_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: CQRS phase 13 — extract SeverityClassifier service from ErrorLog
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/queries/errors_list.rb
  lib/rails_error_dashboard/services/exception_filter.rb
  lib/rails_error_dashboard/services/severity_classifier.rb
  spec/lib/rails_error_dashboard/services/severity_classifier_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: extract PriorityScoreCalculator to Service (Phase 14)
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/priority_score_calculator.rb
  spec/lib/rails_error_dashboard/services/priority_score_calculator_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: consolidate ErrorHashGenerator with from_attributes method (Phase 15)
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard/services/error_hash_generator.rb
  spec/lib/rails_error_dashboard/services/error_hash_generator_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: extract ErrorBroadcaster to Service (Phase 16)
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/error_broadcaster.rb
  spec/lib/rails_error_dashboard/services/error_broadcaster_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

refactor: delete dead code and extract AnalyticsCacheManager (Phase 17)
  app/models/rails_error_dashboard/error_log.rb
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/analytics_cache_manager.rb
  spec/lib/rails_error_dashboard/services/analytics_cache_manager_spec.rb
  spec/models/error_log_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: reset configuration before dashboard_url test to prevent flaky CI
  spec/lib/rails_error_dashboard/services/notification_helpers_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: add defensive guards and edge case test coverage for Phases 12-17
  lib/rails_error_dashboard/services/error_broadcaster.rb
  lib/rails_error_dashboard/services/priority_score_calculator.rb
  spec/lib/rails_error_dashboard/commands/upsert_baseline_spec.rb
  spec/lib/rails_error_dashboard/services/error_broadcaster_spec.rb
  spec/lib/rails_error_dashboard/services/error_hash_generator_spec.rb
  spec/lib/rails_error_dashboard/services/priority_score_calculator_spec.rb
  spec/lib/rails_error_dashboard/services/severity_classifier_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: handle Float::Infinity/NaN/non-numeric inputs in frequency_to_score
  lib/rails_error_dashboard/services/priority_score_calculator.rb
  spec/lib/rails_error_dashboard/services/priority_score_calculator_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: resolve 3 issues found during chaos testing
  app/controllers/rails_error_dashboard/application_controller.rb
  lib/rails_error_dashboard/commands/resolve_error.rb
  spec/commands/resolve_error_spec.rb
  spec/system/query_integration_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
