Repository AnjanJ/rails_error_dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

Path conditions:
  rubocop-staged: any of: *.rb
  rspec-changed: any of: *_spec.rb
  no-debuggers: any of: *.rb
  trailing-whitespace: any of: *.{rb,yml,js,md}

feat: Add ManualErrorReporter for frontend/mobile error logging (v0.1.20)
  CHANGELOG.md
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/manual_error_reporter.rb
  lib/rails_error_dashboard/value_objects/error_context.rb
  lib/rails_error_dashboard/version.rb
  spec/lib/rails_error_dashboard/manual_error_reporter_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: Update smoke test credentials to correct values
  .github/workflows/smoke-test-demo.yml
Due: trailing-whitespace

fix: turbo helpers missing
  lib/rails_error_dashboard.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: Release v0.1.21 - Fix turbo helpers in production
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: multi-app support with performance optimizations and security hardening
  CODE_REVIEW_REPORT.md
  CRITICAL_FIXES_ULTRATHINK.md
  README.md
  ULTRATHINK_ANALYSIS.md
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/models/rails_error_dashboard/application.rb
  app/models/rails_error_dashboard/error_log.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/_error_row.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
  app/views/rails_error_dashboard/errors/settings.html.erb
  db/migrate/20260106094220_create_rails_error_dashboard_applications.rb
  db/migrate/20260106094233_add_application_to_error_logs.rb
  db/migrate/20260106094256_backfill_application_for_existing_errors.rb
  db/migrate/20260106094318_finalize_application_foreign_key.rb
  docs/API_REFERENCE.md
  docs/FEATURES.md
  docs/MULTI_APP_PERFORMANCE.md
  docs/guides/CONFIGURATION.md
  docs/guides/NOTIFICATIONS.md
  lib/generators/rails_error_dashboard/install/templates/initializer.rb
  lib/rails_error_dashboard/commands/log_error.rb
  lib/rails_error_dashboard/configuration.rb
  lib/rails_error_dashboard/queries/analytics_stats.rb
  lib/rails_error_dashboard/queries/dashboard_stats.rb
  lib/rails_error_dashboard/queries/errors_list.rb
  lib/rails_error_dashboard/queries/filter_options.rb
  lib/tasks/error_dashboard.rake
  spec/dummy/db/schema.rb
  spec/factories/applications.rb
  spec/features/multi_app_support_spec.rb
  spec/lib/rails_error_dashboard/configuration_spec.rb
  test/setup_multi_app_test.sh
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: critical hotfix for v0.1.22 - RuboCop and caching issues
  app/models/rails_error_dashboard/application.rb
  lib/tasks/error_dashboard.rake
  spec/factories/error_logs.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore: bump version to 0.1.23
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: resolve test failures and RuboCop violations
  db/migrate/20260106094233_add_application_to_error_logs.rb
  lib/rails_error_dashboard/commands/log_error.rb
  spec/dummy/db/schema.rb
  spec/models/error_log_spec.rb
  spec/rails_helper.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: make schema.rb compatible with Rails 7.x
  spec/dummy/db/schema.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

fix: ensure test isolation for auto-registration tests
  spec/features/multi_app_support_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

fix: resolve flaky test in notification callbacks spec
  spec/lib/rails_error_dashboard_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace

docs: add community contributor credits to v0.1.23 changelog
  CHANGELOG.md
Due: trailing-whitespace

Mass assignment fix
  app/controllers/rails_error_dashboard/errors_controller.rb
  app/helpers/rails_error_dashboard/application_helper.rb
  app/views/layouts/rails_error_dashboard.html.erb
  app/views/rails_error_dashboard/errors/index.html.erb
Due: rubocop-staged, no-debuggers, trailing-whitespace

docs: improve multi-app support visibility in documentation
  README.md
  _config.yml
  docs/README.md
Due: trailing-whitespace

feat: add footer with creator attribution link
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

Create SECURITY.md
  SECURITY.md
Due: trailing-whitespace

fix: preserve application_id across navigation links
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

docs: add SECURITY.md with industry best practices
  SECURITY.md
Due: trailing-whitespace

Update show.html.erb
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

fix: preserve numeric/boolean types in JSON download
  app/views/rails_error_dashboard/errors/show.html.erb
Due: none

docs: update CHANGELOG for v0.1.27
  CHANGELOG.md
Due: trailing-whitespace

.DS_Store banished!
  .gitignore
Due: none

docs: add community infrastructure verification report
  COMMUNITY_INFRASTRUCTURE_VERIFICATION.md
Due: trailing-whitespace

fix: migrate GitHub Pages from legacy Jekyll to GitHub Actions
  .github/workflows/pages.yml
Due: trailing-whitespace

docs: update TESTING.md with actual CI test matrix
  docs/development/TESTING.md
Due: trailing-whitespace

docs: fix 8 critical documentation issues
  CHANGELOG.md
  CONTRIBUTING.md
  IMPROVEMENT_IDEAS.md
  README.md
  docs/FEATURES.md
  docs/README.md
Due: trailing-whitespace

docs: add missing guide links to README index
  docs/README.md
Due: trailing-whitespace

docs: add comprehensive FAQ section to README
  README.md
Due: trailing-whitespace

docs: add comprehensive troubleshooting section to CONFIGURATION guide
  docs/guides/CONFIGURATION.md
Due: trailing-whitespace

docs: add comprehensive configuration defaults reference table
  docs/guides/CONFIGURATION.md
Due: trailing-whitespace

docs: add comprehensive Settings Dashboard guide
  docs/README.md
  docs/guides/SETTINGS.md
Due: trailing-whitespace

docs: standardize feature counts across all documentation
  README.md
  docs/FEATURES.md
Due: trailing-whitespace

docs: create comprehensive standalone troubleshooting guide
  docs/README.md
  docs/TROUBLESHOOTING.md
Due: trailing-whitespace

Minor update of concurrent-ruby and left-hook (#52)
  Gemfile
  rails_error_dashboard.gemspec
Due: none

chore: bump version to 0.1.28
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

chore(deps): bump actions/upload-pages-artifact from 3 to 4 (#53)
  .github/workflows/pages.yml
Due: trailing-whitespace

feat: add Correlation link to sidebar navigation
  app/views/layouts/rails_error_dashboard.html.erb
Due: none

chore: bump version to 0.1.29
  CHANGELOG.md
  lib/rails_error_dashboard/version.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add squashed migration for faster new installations
  db/migrate/20251223000000_create_rails_error_dashboard_complete_schema.rb
  db/migrate/20251224000001_create_rails_error_dashboard_error_logs.rb
  db/migrate/20260106094220_create_rails_error_dashboard_applications.rb
  spec/dummy/db/schema.rb
Due: rubocop-staged, no-debuggers, trailing-whitespace

feat: add GitBlameReader service for git blame integration
  lib/rails_error_dashboard.rb
  lib/rails_error_dashboard/services/git_blame_reader.rb
  spec/services/git_blame_reader_spec.rb
  spec/services/source_code_reader_spec.rb
Due: rubocop-staged, rspec-changed, no-debuggers, trailing-whitespace
